.mediaViewInfo {
	--web-view-name: web-camp-BA;
	--web-view-id: web_camp_BA;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web_camp_BA;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web_camp_BA {
	position: absolute;
	width: 1920px;
	height: 975px;
	background-color: rgba(245,245,245,1);
	overflow: hidden;
	--web-view-name: web-camp-BA;
	--web-view-id: web_camp_BA;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#BG {
	position: absolute;
	width: 1832px;
	height: 685px;
	left: 44px;
	top: 134px;
	overflow: visible;
}
#O_ {
	position: absolute;
	width: 208px;
	height: 378px;
	left: 1578px;
	top: 1px;
	overflow: visible;
}
#A_ {
	position: absolute;
	width: 217px;
	height: 378px;
	left: 42px;
	top: 6px;
	overflow: visible;
}
#A__ {
	position: absolute;
	width: 211px;
	height: 378px;
	left: 266px;
	top: 6px;
	overflow: visible;
}
#B_ {
	position: absolute;
	width: 211px;
	height: 369px;
	left: 485px;
	top: 6px;
	overflow: visible;
}
#B__ {
	position: absolute;
	width: 204px;
	height: 378px;
	left: 707px;
	top: 6px;
	overflow: visible;
}
#O__ {
	position: absolute;
	width: 210px;
	height: 378px;
	left: 1354px;
	top: 1px;
	overflow: visible;
}
#drug {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 0px;
	top: 385px;
	overflow: visible;
}
#drug_ {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 221px;
	top: 385px;
	overflow: visible;
}
#drug_ba {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 440px;
	top: 385px;
	overflow: visible;
}
#drug_bb {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 659px;
	top: 385px;
	overflow: visible;
}
#drug_bc {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 879px;
	top: 385px;
	overflow: visible;
}
#drug_bd {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 1096px;
	top: 385px;
	overflow: visible;
}
#drug_be {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 1309px;
	top: 385px;
	overflow: visible;
}
#drug_bf {
	position: absolute;
	width: 300px;
	height: 300px;
	left: 1532px;
	top: 385px;
	overflow: visible;
}
#Aneg_lvl {
	position: absolute;
	width: 92px;
	height: 120.4px;
	left: 136px;
	top: 506px;
	overflow: visible;
}
#ID7 {
	position: absolute;
	left: 25px;
	top: 0px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(36,32,33,1);
}
.Rectangle_29 {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 105.4px;
	left: 0px;
	top: 15px;
}
#UNITS {
	position: absolute;
	left: 31px;
	top: 84px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#ID2450_ml {
	position: absolute;
	left: 27px;
	top: 100px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#ABneg_lvl {
	position: absolute;
	width: 92px;
	height: 120.4px;
	left: 1015px;
	top: 506px;
	overflow: visible;
}
#ID7_bl {
	position: absolute;
	left: 25px;
	top: 0px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(36,32,33,1);
}
.Rectangle_29_bm {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 105.4px;
	left: 0px;
	top: 15px;
}
#UNITS_bn {
	position: absolute;
	left: 31px;
	top: 84px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#ID2450_ml_bo {
	position: absolute;
	left: 27px;
	top: 100px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#Oneg_lvl {
	position: absolute;
	width: 92px;
	height: 120.4px;
	left: 1445px;
	top: 506px;
	overflow: visible;
}
#ID7_bq {
	position: absolute;
	left: 25px;
	top: 0px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(36,32,33,1);
}
.Rectangle_29_br {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 105.4px;
	left: 0px;
	top: 15px;
}
#UNITS_bs {
	position: absolute;
	left: 31px;
	top: 84px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#ID2450_ml_bt {
	position: absolute;
	left: 27px;
	top: 100px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#Bneg_lvl {
	position: absolute;
	width: 92px;
	height: 120.4px;
	left: 575px;
	top: 506px;
	overflow: visible;
}
#ID7_bv {
	position: absolute;
	left: 25px;
	top: 0px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(36,32,33,1);
}
.Rectangle_29_bw {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 105.4px;
	left: 0px;
	top: 15px;
}
#UNITS_bx {
	position: absolute;
	left: 31px;
	top: 84px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#ID2450_ml_by {
	position: absolute;
	left: 27px;
	top: 100px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#Apos_lvl {
	position: absolute;
	width: 92px;
	height: 120.4px;
	left: 357px;
	top: 506px;
	overflow: visible;
}
#ID7_b {
	position: absolute;
	left: 25px;
	top: 0px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(36,32,33,1);
}
.Rectangle_29_b {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 105.4px;
	left: 0px;
	top: 15px;
}
#UNITS_b {
	position: absolute;
	left: 31px;
	top: 84px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#ID2450_ml_b {
	position: absolute;
	left: 27px;
	top: 100px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#ABpos_lvl {
	position: absolute;
	width: 92px;
	height: 120.4px;
	left: 1233px;
	top: 506px;
	overflow: visible;
}
#ID7_ca {
	position: absolute;
	left: 25px;
	top: 0px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(36,32,33,1);
}
.Rectangle_29_ca {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 105.4px;
	left: 0px;
	top: 15px;
}
#UNITS_ca {
	position: absolute;
	left: 31px;
	top: 84px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#ID2450_ml_ca {
	position: absolute;
	left: 27px;
	top: 100px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#Opos_lvl {
	position: absolute;
	width: 92px;
	height: 120.4px;
	left: 1667px;
	top: 506px;
	overflow: visible;
}
#ID7_cb {
	position: absolute;
	left: 25px;
	top: 0px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(36,32,33,1);
}
.Rectangle_29_cb {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 105.4px;
	left: 0px;
	top: 15px;
}
#UNITS_cc {
	position: absolute;
	left: 31px;
	top: 84px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#ID2450_ml_cd {
	position: absolute;
	left: 27px;
	top: 100px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#Bpos_lvl {
	position: absolute;
	width: 92px;
	height: 120.4px;
	left: 796px;
	top: 506px;
	overflow: visible;
}
#ID7_cf {
	position: absolute;
	left: 25px;
	top: 0px;
	overflow: visible;
	width: 44px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(36,32,33,1);
}
.Rectangle_29_cg {
	position: absolute;
	overflow: visible;
	width: 92px;
	height: 105.4px;
	left: 0px;
	top: 15px;
}
#UNITS_ch {
	position: absolute;
	left: 31px;
	top: 84px;
	overflow: visible;
	width: 31px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#ID2450_ml_ci {
	position: absolute;
	left: 27px;
	top: 100px;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(36,32,33,1);
}
#AB_ {
	position: absolute;
	width: 211px;
	height: 378px;
	left: 924px;
	top: 0px;
	overflow: visible;
}
#AB__ck {
	position: absolute;
	width: 207px;
	height: 378px;
	left: 1143px;
	top: 1px;
	overflow: visible;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Group_1 {
	position: absolute;
	width: 168.3px;
	height: 60.477px;
	left: 81px;
	top: 7px;
	overflow: visible;
}
#BA_btn {
	position: absolute;
	width: 330px;
	height: 75px;
	left: 330px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Blood_Availability {
	position: absolute;
	left: 64px;
	top: 18px;
	overflow: visible;
	width: 250px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(225,83,83,1);
}
#ID018_flask {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 17px;
	top: 15px;
	overflow: visible;
}
#donation_btn {
	position: absolute;
	width: 330px;
	left: 660px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Donations {
	position: absolute;
	left: 116px;
	top: 18px;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#ID008_donor_1 {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 69px;
	top: 15px;
	overflow: visible;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 930px;
	height: 75px;
	left: 990px;
	top: 0px;
}
#camp_name {
	position: absolute;
	width: 563.5px;
	height: 45px;
	left: 1033px;
	top: 15px;
	overflow: visible;
}
#AKR_Hospitals {
	position: absolute;
	left: 363.5px;
	top: 3px;
	overflow: visible;
	width: 201px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#ERD_Camps {
	position: absolute;
	left: 53px;
	top: 3px;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#blood {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Line_7 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 40px;
	left: 357.976px;
	top: 2.5px;
	transform: matrix(1,0,0,1,0,0);
}
#home_btn {
	position: absolute;
	width: 23px;
	left: 1871px;
	top: 26px;
	overflow: visible;
	cursor: pointer;
}
#home {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#refresh_btn {
	position: absolute;
	width: 25px;
	left: 1838px;
	top: 25px;
	overflow: visible;
	cursor: pointer;
}
#update_arrows {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#madeby {
	position: absolute;
	width: 373px;
	height: 47px;
	left: 774px;
	top: 922px;
	overflow: visible;
}
#with____by_FAM_ILY {
	position: absolute;
	left: 57px;
	top: 0px;
	overflow: visible;
	width: 317px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(49,49,49,1);
}
#programming_grey {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 2px;
	overflow: visible;
}