.mediaViewInfo {
	--web-view-name: web-user-details;
	--web-view-id: web_user_details;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web_user_details;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web_user_details {
	position: absolute;
	width: 1920px;
	height: 975px;
	background-color: rgba(245,245,245,1);
	overflow: hidden;
	--web-view-name: web-user-details;
	--web-view-id: web_user_details;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#back_btn {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 25px;
	top: 25px;
	overflow: visible;
}
#back {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#LOGO {
	position: absolute;
	width: 1165px;
	height: 288px;
	left: 130px;
	top: 332px;
	overflow: visible;
}
#Made_with___ {
	position: absolute;
	left: 596.5px;
	top: 902px;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(49,49,49,1);
}
#user_signup_details {
	position: absolute;
	width: 394px;
	height: 746px;
	left: 1411px;
	top: 136px;
	overflow: visible;
}
#title {
	position: absolute;
	width: 323px;
	height: 67px;
	left: 36px;
	top: 0px;
	overflow: visible;
}
#USER_SIGNUP {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 324px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(49,49,49,1);
}
#bg {
	position: absolute;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 93px;
	overflow: visible;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 0px;
}
.bg_inp {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 32px;
	left: 39px;
	top: 5px;
}
#ID025_immune_system {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 10px;
	top: 9px;
	overflow: visible;
}
#dob {
	position: absolute;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 165px;
	overflow: visible;
}
.Rectangle_2_cx {
	position: absolute;
	overflow: visible;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 0px;
}
.dob_inp {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 32px;
	left: 39px;
	top: 5px;
}
#time_and_date {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 10px;
	top: 9px;
	overflow: visible;
}
#email {
	position: absolute;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 237px;
	overflow: visible;
}
.Rectangle_2_c {
	position: absolute;
	overflow: visible;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 0px;
}
.email_inp {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 32px;
	left: 39px;
	top: 5px;
}
#email__3_ {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 10px;
	top: 9px;
	overflow: visible;
}
#password {
	position: absolute;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 309px;
	overflow: visible;
}
.Rectangle_2_da {
	position: absolute;
	overflow: visible;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 0px;
}
.pass_inp {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 32px;
	left: 39px;
	top: 5px;
}
#lock {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 10px;
	top: 9px;
	overflow: visible;
}
#cpassword {
	position: absolute;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 361px;
	overflow: visible;
}
.Rectangle_2_db {
	position: absolute;
	overflow: visible;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 0px;
}
.cpass_inp {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 32px;
	left: 39px;
	top: 5px;
}
#lock_db {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 10px;
	top: 9px;
	overflow: visible;
}
#addr {
	position: absolute;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 433px;
	overflow: visible;
}
.Rectangle_2_dd {
	position: absolute;
	overflow: visible;
	width: 394px;
	height: 42px;
	left: 0px;
	top: 0px;
}
.adr_inp {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 32px;
	left: 39px;
	top: 5px;
}
#placeholder {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 10px;
	top: 9px;
	overflow: visible;
}
#addr1 {
	position: absolute;
	width: 372px;
	height: 42px;
	left: 22px;
	top: 485px;
	overflow: visible;
}
.Rectangle_2_dh {
	position: absolute;
	overflow: visible;
	width: 372px;
	height: 42px;
	left: 0px;
	top: 0px;
}
.addr1_inp {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 32px;
	left: 17px;
	top: 5px;
}
#city {
	position: absolute;
	width: 372px;
	height: 42px;
	left: 22px;
	top: 589px;
	overflow: visible;
}
.Rectangle_2_dk {
	position: absolute;
	overflow: visible;
	width: 372px;
	height: 42px;
	left: 0px;
	top: 0px;
}
.city_inp {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 32px;
	left: 17px;
	top: 5px;
}
#state {
	position: absolute;
	width: 372px;
	height: 42px;
	left: 22px;
	top: 537px;
	overflow: visible;
}
.Rectangle_2_dn {
	position: absolute;
	overflow: visible;
	width: 372px;
	height: 42px;
	left: 0px;
	top: 0px;
}
.state_inp {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 32px;
	left: 17px;
	top: 5px;
}
#pincode {
	position: absolute;
	width: 372px;
	height: 42px;
	left: 22px;
	top: 641px;
	overflow: visible;
}
.Rectangle_108 {
	position: absolute;
	overflow: visible;
	width: 372px;
	height: 42px;
	left: 0px;
	top: 0px;
}
.pincode_inp {
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 32px;
	left: 17px;
	top: 5px;
}
#signup_btn {
	position: absolute;
	width: 276px;
	left: 70px;
	top: 710px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 276px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#SIGNUP {
	position: absolute;
	left: 101px;
	top: 5px;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
button {
	outline: none;
}
input {
	outline-color: #E15353;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#load_content {
	position: absolute;
	width: 1920px;
	height: 975px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#dim_background {
	opacity: 0.26;
}
.dim_background {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 975px;
	left: 0px;
	top: 0px;
}
#loading_info {
	position: absolute;
	width: 327px;
	height: 197px;
	left: 797px;
	top: 389px;
	overflow: visible;
}
.loading_background {
	position: absolute;
	overflow: visible;
	width: 327px;
	height: 197px;
	left: 0px;
	top: 0px;
}
#LOGO_dn {
	position: absolute;
	width: 242.791px;
	height: 60px;
	left: 42px;
	top: 23px;
	overflow: visible;
}
#Loading {
	position: absolute;
	left: 87.5px;
	top: 137px;
	overflow: visible;
	width: 152px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(49,49,49,1);
}
.progress {
	position: absolute;
	height: 20px;
	display: inline-block;
	width: 100%;
	top : 106px;
	background-color: #b5b5b5;
	border-radius: 2px;
	background-clip: padding-box;
	overflow: hidden; }
.progress .indeterminate {
	background-color: #313131; }
.progress .indeterminate:before {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	-webkit-animation: indeterminate 2.5s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	animation: indeterminate 2.5s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
.progress .indeterminate:after {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	-webkit-animation: indeterminate-short 2.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	animation: indeterminate-short 2.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s; }

@-webkit-keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%; }
	60% {
		left: 100%;
		right: -90%; }
	100% {
		left: 100%;
		right: -90%; } }
@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%; }
	60% {
		left: 100%;
		right: -90%; }
	100% {
		left: 100%;
		right: -90%; } }
@-webkit-keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%; }
	60% {
		left: 107%;
		right: -8%; }
	100% {
		left: 107%;
		right: -8%; } }
@keyframes indeterminate-short {
	0% {
		left: -200%;
		right: 100%; }
	60% {
		left: 107%;
		right: -8%; }
	100% {
		left: 107%;
		right: -8%; } }

#server_not_responding {
	position: absolute;
	width: 479px;
	height: 92px;
	left: 721px;
	top: 26px;
	overflow: visible;
}
.snr_rect {
	position: absolute;
	overflow: visible;
	width: 479px;
	height: 92px;
	left: 0px;
	top: 0px;
}
#snr_text {
	position: absolute;
	left: 72px;
	top: 26px;
	overflow: visible;
	width: 382px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(49,49,49,1);
}
#snr_warning {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 26px;
	top: 26px;
	overflow: visible;
}

#user_exists {
	position: absolute;
	width: 277px;
	height: 92px;
	left: 822px;
	top: 26px;
	overflow: visible;
}
.ue_rect {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 92px;
	left: 0px;
	top: 0px;
}
#ue_text {
	position: absolute;
	left: 72px;
	top: 26px;
	overflow: visible;
	width: 180px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(49,49,49,1);
}
#ue_waring {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 26px;
	top: 26px;
	overflow: visible;
}
#error_saving {
	position: absolute;
	width: 314px;
	height: 92px;
	left: 804px;
	top: 26px;
	overflow: visible;
}
.es_rect {
	position: absolute;
	overflow: visible;
	width: 314px;
	height: 92px;
	left: 0px;
	top: 0px;
}
#es_text {
	position: absolute;
	left: 72px;
	top: 26px;
	overflow: visible;
	width: 217px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(49,49,49,1);
}
#es_warning {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 26px;
	top: 26px;
	overflow: visible;
}

#weak_pass {
	position: absolute;
	width: 359px;
	height: 92px;
	left: 781px;
	top: 26px;
	overflow: visible;
}
.wep_rect {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 92px;
	left: 0px;
	top: 0px;
}
#wep_text {
	position: absolute;
	left: 72px;
	top: 26px;
	overflow: visible;
	width: 262px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(49,49,49,1);
}
#wep_warning {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 26px;
	top: 26px;
	overflow: visible;
}
#pass_donnot_match {
	position: absolute;
	width: 523px;
	height: 92px;
	left: 699px;
	top: 26px;
	overflow: visible;
}
.pdm_rect {
	position: absolute;
	overflow: visible;
	width: 523px;
	height: 92px;
	left: 0px;
	top: 0px;
}
#pdm_text {
	position: absolute;
	left: 72px;
	top: 26px;
	overflow: visible;
	width: 426px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(49,49,49,1);
}
#pdm_warning {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 26px;
	top: 26px;
	overflow: visible;
}