.mediaViewInfo {
	--web-view-name: web-hosp-donor;
	--web-view-id: web_hosp_donor;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web_hosp_donor;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web_hosp_donor {
	position: absolute;
	width: 1920px;
	height: 975px;
	background-color: rgba(245,245,245,1);
	overflow: hidden;
	--web-view-name: web-hosp-donor;
	--web-view-id: web_hosp_donor;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Group_1 {
	position: absolute;
	width: 168.3px;
	height: 60.477px;
	left: 26px;
	top: 7px;
	overflow: visible;
}
#donation_btn {
	position: absolute;
	width: 330px;
	height: 75px;
	left: 1210px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Donations {
	position: absolute;
	left: 116px;
	top: 18px;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#ID008_donor_1 {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 69px;
	top: 15px;
	overflow: visible;
}
#BB_btn {
	position: absolute;
	width: 330px;
	height: 75px;
	left: 220px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Bloodbanks {
	position: absolute;
	left: 106px;
	top: 18px;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#blood {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 59px;
	top: 15px;
	overflow: visible;
}
#Hospital_NAME {
	position: absolute;
	width: 380px;
	height: 75px;
	left: 1540px;
	top: 0px;
	overflow: visible;
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 379px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Hospitals {
	position: absolute;
	left: 57.5px;
	top: 18px;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#hospital_4 {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 10px;
	top: 15px;
	overflow: visible;
}
#home_btn {
	position: absolute;
	width: 23px;
	left: 1872px;
	top: 27px;
	overflow: visible;
	cursor: pointer;
}
#home {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#refresh_btn {
	position: absolute;
	width: 25px;
	left: 1839px;
	top: 26px;
	overflow: visible;
	cursor: pointer;
}
#update_arrows {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#donor_btn {
	position: absolute;
	width: 330px;
	height: 75px;
	left: 880px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Donors {
	position: absolute;
	left: 138px;
	top: 17px;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(225,83,83,1);
}
#ID007_donor {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 91px;
	top: 15px;
	overflow: visible;
}
#req_btn {
	position: absolute;
	width: 330px;
	height: 75px;
	left: 550px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_16_bn {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Request {
	position: absolute;
	left: 132px;
	top: 15px;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#mail {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 85px;
	top: 13px;
	overflow: visible;
}
#Group_16 {
	position: absolute;
	width: 1021.263px;
	height: 755px;
	left: 449px;
	top: 110px;
	overflow: visible;
}
.Rectangle_34 {
	filter: drop-shadow(0px 0px 36px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1129px;
	height: 861px;
	left: 0px;
	top: 2px;
}
.Line_8 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 2px;
	left: 0.5px;
	top: 94.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 134.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_32 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 374.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_20 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 254.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_31 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 494.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_37 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 634.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_13 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 194.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_30 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 434.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_19 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 314.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_29 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 554.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_34 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 694.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 114.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_28 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 354.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_18 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 234.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_27 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 474.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_38 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 614.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_14 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 174.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_26 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 414.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_17 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 294.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_25 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 534.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_35 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 674.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 154.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_24 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 394.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_16 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 274.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_23 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 514.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_36 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 654.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_12 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 214.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_22 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 454.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_39 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 594.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_15 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 334.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_21 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 574.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_33 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 714.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_40 {
	overflow: visible;
	position: absolute;
	width: 1020.763px;
	height: 1px;
	left: 0.5px;
	top: 734.5px;
	transform: matrix(1,0,0,1,0,0);
}
#DONOR_LIST {
	position: absolute;
	left: 24.5px;
	top: 0px;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(53,49,49,1);
}
#Phone_No {
	position: absolute;
	left: 281.774px;
	top: 58.5px;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(53,49,49,1);
}
#phone_receiver {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 255.774px;
	top: 57px;
	overflow: visible;
}
#Group_3 {
	position: absolute;
	width: 88px;
	height: 29px;
	left: 30.5px;
	top: 57px;
	overflow: visible;
}
#Name {
	position: absolute;
	left: 32px;
	top: 1px;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(53,49,49,1);
}
#stick_man {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_1_cv {
	position: absolute;
	width: 124.022px;
	height: 29px;
	left: 780px;
	top: 57px;
	overflow: visible;
}
#Bloodgroup {
	position: absolute;
	left: 29.022px;
	top: 4px;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(53,49,49,1);
}
#ID025_immune_system {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Kiran {
	position: absolute;
	left: 31px;
	top: 95px;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(53,49,49,1);
}
#B_ {
	position: absolute;
	left: 820.644px;
	top: 95px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(53,49,49,1);
}
#ID9487291799 {
	position: absolute;
	left: 261px;
	top: 95px;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(53,49,49,1);
}
#vote__1_ {
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 60px;
	height: 60px;
	left: 933px;
	top: 42px;
	overflow: visible;
}
#no {
	position: absolute;
	width: 14.893px;
	height: 15px;
	left: 955.763px;
	top: 117px;
	overflow: visible;
}
#yes {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 956px;
	top: 98px;
	overflow: visible;
}
#left_arrow {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 955px;
	top: 8px;
	overflow: visible;
}
#right_arrow__2_ {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 985px;
	top: 8px;
	overflow: visible;
}
#Group_8 {
	position: absolute;
	width: 111.652px;
	height: 29px;
	left: 423px;
	top: 57px;
	overflow: visible;
}
#placeholder {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Location {
	position: absolute;
	left: 30.652px;
	top: 1.5px;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(53,49,49,1);
}
#Erode {
	position: absolute;
	left: 429.5px;
	top: 95px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(53,49,49,1);
}
#madeby {
	position: absolute;
	width: 373px;
	height: 47px;
	left: 774px;
	top: 922px;
	overflow: visible;
}
#with____by_FAM_ILY {
	position: absolute;
	left: 57px;
	top: 0px;
	overflow: visible;
	width: 317px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(49,49,49,1);
}
#programming_grey {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 2px;
	overflow: visible;
}