<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hospital Dashboard</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="angular-app/web-hosp-dashboard/web_hosp_dashboard.css"/>
<script id="applicationScript" type="text/javascript" src="angular-app/web-hosp-dashboard/web_hosp_dashboard.js"></script>
</head>
<body>
<div id="web_waiting" ng-if="vm.waitingg">
	<svg class="waiting_rect">
		<rect fill="rgba(245,245,245,1)" id="waiting_rect" rx="0" ry="0" x="0" y="0" width="1920" height="975">
		</rect>
	</svg>
	<img id="waiting_LOGO" src="angular-app/waiting/waiting_LOGO.png" srcset="angular-app/waiting/waiting_LOGO.png 1x, angular-app/waiting/waiting_LOGO@2x.png 2x">
</div>
<div id="web_hosp_dashboard">
	<img id="background_logo" src="angular-app/web-hosp-dashboard/background_logo.png" srcset="angular-app/web-hosp-dashboard/background_logo.png 1x, angular-app/web-hosp-dashboard/background_logo@2x.png 2x">
	<div id="Made_with___">
		<span>Made with</span><span style="font-style:normal;font-weight:normal;"> ❤️</span>
	</div>
	<div id="dash_title">
		<svg class="Rectangle_52">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_52" rx="40" ry="40" x="0" y="0" width="896" height="106">
			</rect>
		</svg>
		<div id="title">
			<div id="DASHBOARD">
				<span>DASHBOARD</span>
			</div>
			<img id="LOGO" src="angular-app/web-hosp-dashboard/LOGO.png" srcset="angular-app/web-hosp-dashboard/LOGO.png 1x, angular-app/web-hosp-dashboard/LOGO@2x.png 2x">
			<div id="_">
				<span>|</span>
			</div>
		</div>
	</div>
	<div id="hosp_details">
		<svg class="Rectangle_50">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_50" rx="40" ry="40" x="0" y="0" width="440" height="340">
			</rect>
		</svg>
		<div id="hosp_name">
			<div id="Hospitals">
				<span>{{vm.hospname}}</span>
			</div>
			<img id="hospital_4" src="angular-app/web-hosp-dashboard/hospital_4.png" srcset="angular-app/web-hosp-dashboard/hospital_4.png 1x, angular-app/web-hosp-dashboard/hospital_4@2x.png 2x">
		</div>
	</div>
	<div id="btn">
		<div id="donation_btn" class="donation_btn">
			<svg class="Rectangle_49">
				<rect fill="rgba(225,83,83,1)" id="Rectangle_49" rx="40" ry="40" x="0" y="0" width="440" height="340">
				</rect>
			</svg>
			<div id="donations_content">
				<div id="Donations">
					<span>Donations</span>
				</div>
				<img id="ID008_donor_1" src="angular-app/web-hosp-dashboard/ID008_donor_1.png" srcset="angular-app/web-hosp-dashboard/ID008_donor_1.png 1x, angular-app/web-hosp-dashboard/ID008_donor_1@2x.png 2x">
			</div>
		</div>
		<div id="donor_btn" class="donor_btn">
			<svg class="Rectangle_53">
				<rect fill="rgba(225,83,83,1)" id="Rectangle_53" rx="40" ry="40" x="0" y="0" width="440" height="340">
				</rect>
			</svg>
			<div id="donor_content">
				<div id="Donors">
					<span>Donors</span>
				</div>
				<img id="ID007_donor" src="angular-app/web-hosp-dashboard/ID007_donor.png" srcset="angular-app/web-hosp-dashboard/ID007_donor.png 1x, angular-app/web-hosp-dashboard/ID007_donor@2x.png 2x">
			</div>
		</div>
		<div id="req_btn" class="req_btn">
			<svg class="Rectangle_47">
				<rect fill="rgba(225,83,83,1)" id="Rectangle_47" rx="40" ry="40" x="0" y="0" width="440" height="340">
				</rect>
			</svg>
			<div id="req_content">
				<div id="Request">
					<span>Request</span>
				</div>
				<img id="mail" src="angular-app/web-hosp-dashboard/mail.png" srcset="angular-app/web-hosp-dashboard/mail.png 1x, angular-app/web-hosp-dashboard/mail@2x.png 2x">
			</div>
		</div>
		<div id="bb_btn" class="bb_btn">
			<svg class="Rectangle_46">
				<rect fill="rgba(225,83,83,1)" id="Rectangle_46" rx="40" ry="40" x="0" y="0" width="440" height="340">
				</rect>
			</svg>
			<div id="bb_content">
				<div id="Bloodbanks">
					<span>Bloodbanks</span>
				</div>
				<img id="blood" src="angular-app/web-hosp-dashboard/blood.png" srcset="angular-app/web-hosp-dashboard/blood.png 1x, angular-app/web-hosp-dashboard/blood@2x.png 2x">
			</div>
		</div>
	</div>
	<div id="user_overlay" ng-if="vm.userShow">
		<svg class="dim_back" ng-mouseover="vm.hideuser()">
			<rect fill="rgba(49,49,49,1)" id="dim_back" rx="0" ry="0" x="0" y="0" width="1920" height="975">
			</rect>
		</svg>
		<svg class="white_back">
			<rect fill="rgba(255,255,255,1)" id="white_back" rx="25" ry="25" x="0" y="0" width="169" height="268">
			</rect>
		</svg>
		<div id="BLOOD_v1_0_0">
			<span>BLOOD v1.0.0</span>
		</div>
		<button id="logout_btn" class="logout_btn" ng-mouseover="vm.logoutchange()" ng-mouseleave="vm.logoutori()" ng-click="vm.logout()">
			<svg class="logout_rect">
				<rect fill="rgba(255,255,255,1)" id="logout_rect" rx="0" ry="0" x="0" y="0" width="169" height="47">
				</rect>
			</svg>
			<div id="logout_content">
				<div id="Logout">
					<span>Logout</span>
				</div>
				<img id="logout_grey" src="angular-app/overlay/hosp-overlay/logout_grey.png" srcset="angular-app/overlay/hosp-overlay/logout_grey.png 1x, angular-app/overlay/hosp-overlay/logout_grey@2x.png 2x">
			</div>
		</button>
		<svg class="l4" viewBox="0 0 143 1">
			<path fill="transparent" stroke="rgba(49,49,49,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="l4" d="M 0 0 L 143 0">
			</path>
		</svg>
		<button id="about_btn" class="about_btn" ng-mouseover="vm.aboutchange()" ng-mouseleave="vm.aboutori()" ng-click="vm.about()">
			<svg class="about_rect">
				<rect fill="rgba(255,255,255,1)" id="about_rect" rx="0" ry="0" x="0" y="0" width="169" height="47">
				</rect>
			</svg>
			<div id="about_content">
				<div id="About_us">
					<span>About us</span>
				</div>
				<img id="programming_GREY" src="angular-app/overlay/hosp-overlay/programming_GREY.png" srcset="angular-app/overlay/hosp-overlay/programming_GREY.png 1x, angular-app/overlay/hosp-overlay/programming_GREY@2x.png 2x">
			</div>
		</button>
		<svg class="l3" viewBox="0 0 143 1">
			<path fill="transparent" stroke="rgba(49,49,49,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="l3" d="M 0 0 L 143 0">
			</path>
		</svg>
		<button id="setting_btn" class="setting_btn" ng-mouseover="vm.settingchange()" ng-mouseleave="vm.settingori()" ng-click="vm.setting()">
			<svg class="setting_rect">
				<rect fill="rgba(255,255,255,1)" id="setting_rect" rx="0" ry="0" x="0" y="0" width="169" height="47">
				</rect>
			</svg>
			<div id="setting_content">
				<div id="Settings">
					<span>Settings</span>
				</div>
				<img id="settings_grey" src="angular-app/overlay/hosp-overlay/settings_grey.png" srcset="angular-app/overlay/hosp-overlay/settings_grey.png 1x, angular-app/overlay/hosp-overlay/settings_grey@2x.png 2x">
			</div>
		</button>
		<svg class="l2" viewBox="0 0 143 1">
			<path fill="transparent" stroke="rgba(49,49,49,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="l2" d="M 0 0 L 143 0">
			</path>
		</svg>
		<div id="user_status">
			<svg class="user_rect">
				<rect fill="rgba(255,255,255,1)" id="user_rect" rx="0" ry="0" x="0" y="0" width="169" height="47">
				</rect>
			</svg>
			<div id="user_text">
				<span>HOSPITAL</span>
			</div>
			<img id="user_hosp" src="angular-app/overlay/hosp-overlay/user_hosp.png" srcset="angular-app/overlay/hosp-overlay/user_hosp.png 1x, angular-app/overlay/hosp-overlay/user_hosp@2x.png 2x">
		</div>
		<svg class="l1" viewBox="0 0 103 1">
			<path fill="transparent" stroke="rgba(49,49,49,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="l1" d="M 0 0 L 103 0">
			</path>
		</svg>
		<div id="hosp_user">
			<span>{{vm.username}}</span>
		</div>
	</div>
	<div id="user_info_disp" class="user_info_disp" ng-mouseover="vm.showuser()">
		<svg class="sha_back">
			<ellipse fill="rgba(255,255,255,1)" id="sha_back" rx="25" ry="25" cx="25" cy="25">
			</ellipse>
		</svg>
	</div>
	<div id="home_btn" class="home_btn">
		<svg class="Ellipse_5">
			<ellipse fill="rgba(255,255,255,1)" id="Ellipse_5" rx="25" ry="25" cx="25" cy="25">
			</ellipse>
		</svg>
		<img id="home_grey" src="angular-app/web-hosp-dashboard/home_grey.png" srcset="angular-app/web-hosp-dashboard/home_grey.png 1x, angular-app/web-hosp-dashboard/home_grey@2x.png 2x">
	</div>



</div>
</body>
</html>