.mediaViewInfo {
	--web-view-name: web-hosp-dashboard;
	--web-view-id: web_hosp_dashboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web_hosp_dashboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web_hosp_dashboard {
	position: absolute;
	width: 1920px;
	height: 975px;
	background-color: rgba(245,245,245,1);
	overflow: hidden;
	--web-view-name: web-hosp-dashboard;
	--web-view-id: web_hosp_dashboard;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#background_logo {
	opacity: 0.45;
	position: absolute;
	width: 4497.208px;
	height: 3441.797px;
	left: -1288.604px;
	top: -1232.898px;
	overflow: visible;
}
#Made_with___ {
	position: absolute;
	left: 843.5px;
	top: 902px;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(49,49,49,1);
}
#dash_title {
	position: absolute;
	width: 896px;
	height: 113px;
	left: 512px;
	top: 18px;
	overflow: visible;
}
.Rectangle_52 {
	filter: drop-shadow(0px 0px 20px rgba(245, 245, 245, 1));
	position: absolute;
	overflow: visible;
	width: 956px;
	height: 166px;
	left: 0px;
	top: 7px;
}
#title {
	position: absolute;
	width: 774px;
	height: 106px;
	left: 61px;
	top: 0px;
	overflow: visible;
}
#DASHBOARD {
	position: absolute;
	left: 307px;
	top: 6px;
	overflow: visible;
	width: 468px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(49,49,49,1);
}
#LOGO {
	position: absolute;
	width: 242.791px;
	height: 60px;
	left: 0px;
	top: 30px;
	overflow: visible;
}
#_ {
	position: absolute;
	left: 263px;
	top: 0px;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 75px;
	color: rgba(49,49,49,1);
}
#hosp_details {
	position: absolute;
	width: 440px;
	height: 340px;
	left: 992px;
	top: 539px;
	overflow: visible;
}
.Rectangle_50 {
	filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 400px;
	left: 0px;
	top: 0px;
}
#hosp_name {
	position: absolute;
	width: 231.5px;
	height: 100px;
	left: 50px;
	top: 120px;
	overflow: visible;
}
#Hospitals {
	position: absolute;
	left: 100.5px;
	top: 30px;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#hospital_4 {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#btn {
	position: absolute;
	width: 1449px;
	height: 712px;
	left: 236px;
	top: 167px;
	overflow: visible;
}
#donation_btn {
	position: absolute;
	width: 440px;
	height: 340px;
	left: 252px;
	top: 372px;
	overflow: visible;
}
.Rectangle_49 {
	filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 400px;
	left: 0px;
	top: 0px;
}
#donations_content {
	position: absolute;
	width: 241px;
	height: 167px;
	left: 100px;
	top: 87px;
	overflow: visible;
}
#Donations {
	position: absolute;
	left: 0px;
	top: 100px;
	overflow: visible;
	width: 242px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(49,49,49,1);
}
#ID008_donor_1 {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 70px;
	top: 0px;
	overflow: visible;
}
#donor_btn {
	position: absolute;
	width: 440px;
	height: 340px;
	left: 1009px;
	top: 1px;
	overflow: visible;
}
.Rectangle_53 {
	filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 400px;
	left: 0px;
	top: 0px;
}
#donor_content {
	position: absolute;
	width: 170px;
	height: 167px;
	left: 135px;
	top: 87px;
	overflow: visible;
}
#Donors {
	position: absolute;
	left: 0px;
	top: 100px;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(49,49,49,1);
}
#ID007_donor {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 35px;
	top: 0px;
	overflow: visible;
}
#req_btn {
	position: absolute;
	width: 440px;
	height: 340px;
	left: 504px;
	top: 0px;
	overflow: visible;
}
.Rectangle_47 {
	filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 400px;
	left: 0px;
	top: 0px;
}
#req_content {
	position: absolute;
	width: 188px;
	height: 167px;
	left: 126px;
	top: 87px;
	overflow: visible;
}
#Request {
	position: absolute;
	left: 0px;
	top: 100px;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(49,49,49,1);
}
#mail {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 44px;
	top: 0px;
	overflow: visible;
}
#bb_btn {
	position: absolute;
	width: 440px;
	height: 340px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_46 {
	filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 400px;
	left: 0px;
	top: 0px;
}
#bb_content {
	position: absolute;
	width: 276px;
	height: 167px;
	left: 82px;
	top: 87px;
	overflow: visible;
}
#Bloodbanks {
	position: absolute;
	left: 0px;
	top: 100px;
	overflow: visible;
	width: 277px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(49,49,49,1);
}
#blood {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 88px;
	top: 0px;
	overflow: visible;
}
#user_info_disp {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 1786px;
	top: 25px;
	overflow: visible;
}
.sha_back {
	filter: drop-shadow(0px 3px 6px rgba(49, 49, 49, 0.502));
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 68px;
	left: 0px;
	top: 0px;
}
#pro_pic {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
	border-radius: 50%;
}
#home_btn {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 1845px;
	top: 25px;
	overflow: visible;
}
.Ellipse_5 {
	filter: drop-shadow(0px 3px 6px rgba(49, 49, 49, 0.502));
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 68px;
	left: 0px;
	top: 0px;
}
#home_grey {
	position: absolute;
	width: 34px;
	height: 34px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#user_overlay {
	position: absolute;
	width: 1920px;
	height: 975px;
	left: 0px;
	top: -1px;
	overflow: visible;
}
#dim_back {
	opacity: 0.26;
}
.dim_back {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 975px;
	left: 0px;
	top: 0px;
}
.white_back {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 268px;
	left: 1667px;
	top: 26px;
}
#BLOOD_v1_0_0 {
	position: absolute;
	left: 1719px;
	top: 275px;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	color: rgba(48,48,48,1);
}
#logout_btn {
	position: absolute;
	width: 169px;
	height: 47px;
	left: 1667px;
	top: 224px;
	overflow: visible;
}
.logout_rect {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 47px;
	left: 0px;
	top: 0px;
}
#logout_content {
	position: absolute;
	width: 146.5px;
	height: 27px;
	left: 10.5px;
	top: 10px;
	overflow: visible;
}
#Logout {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
#logout_grey {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 121.5px;
	top: 1px;
	overflow: visible;
}
.l4 {
	overflow: visible;
	position: absolute;
	width: 143px;
	height: 1px;
	left: 1678.5px;
	top: 223.5px;
	transform: matrix(1,0,0,1,0,0);
}
#about_btn {
	position: absolute;
	width: 169px;
	height: 47px;
	left: 1667px;
	top: 175px;
	overflow: visible;
}
.about_rect {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 47px;
	left: 0px;
	top: 0px;
}
#about_content {
	position: absolute;
	width: 146.5px;
	height: 27px;
	left: 10.5px;
	top: 10.5px;
	overflow: visible;
}
#About_us {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
#programming_GREY {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 121.5px;
	top: 0.5px;
	overflow: visible;
}
.l3 {
	overflow: visible;
	position: absolute;
	width: 143px;
	height: 1px;
	left: 1678.5px;
	top: 174.5px;
	transform: matrix(1,0,0,1,0,0);
}
#setting_btn {
	position: absolute;
	width: 169px;
	height: 47px;
	left: 1667px;
	top: 127px;
	overflow: visible;
}
.setting_rect {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 47px;
	left: 0px;
	top: 0px;
}
#setting_content {
	position: absolute;
	width: 146.5px;
	height: 27px;
	left: 10.5px;
	top: 10px;
	overflow: visible;
}
#Settings {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
#settings_grey {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 121.5px;
	top: 0.5px;
	overflow: visible;
}
.l2 {
	overflow: visible;
	position: absolute;
	width: 143px;
	height: 1px;
	left: 1678.5px;
	top: 126.5px;
	transform: matrix(1,0,0,1,0,0);
}
#user_status {
	position: absolute;
	width: 169px;
	height: 47px;
	left: 1667px;
	top: 79px;
	overflow: visible;
}
.user_rect {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 47px;
	left: 0px;
	top: 0px;
}
#user_text {
	position: absolute;
	left: 10.5px;
	top: 10.5px;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
#user_hosp {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 132px;
	top: 11px;
	overflow: visible;
}
.l1 {
	overflow: visible;
	position: absolute;
	width: 103px;
	height: 1px;
	left: 1678.5px;
	top: 78.5px;
	transform: matrix(1,0,0,1,0,0);
}
#hosp_user {
	position: absolute;
	left: 1679px;
	top: 43px;
	overflow: visible;
	width: 54px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(49,49,49,1);
}

#web_waiting {
	position: absolute;
	width: 1920px;
	height: 975px;
	background-color: rgba(245,245,245,1);
	overflow: hidden;
	--web-view-name: web-waiting;
	--web-view-id: web_waiting;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.waiting_rect {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 975px;
	left: 0px;
	top: 0px;
}
#waiting_LOGO {
	position: absolute;
	width: 1113px;
	height: 274.851px;
	left: 404px;
	top: 350px;
	overflow: visible;
}