.mediaViewInfo {
	--web-view-name: web-home;
	--web-view-id: web_home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web_home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web_home {
	position: absolute;
	width: 1920px;
	height: 975px;
	background-color: rgba(225,83,83,1);
	overflow: hidden;
	--web-view-name: web-home;
	--web-view-id: web_home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#UK_Hospitals_Pvt_Ltd_ {
	position: absolute;
	left: 465.5px;
	top: 14px;
	overflow: visible;
	width: 991px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 100px;
	color: rgba(49,49,49,1);
}
#Rectangle_9 {
	filter: blur(50px);
}
.Rectangle_9 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 689px;
	left: 168px;
	top: 259px;
}
#Rectangle_10 {
	filter: blur(50px);
}
.Rectangle_10 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 689px;
	left: 573px;
	top: 259px;
}
#Rectangle_11 {
	filter: blur(50px);
}
.Rectangle_11 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 689px;
	left: 978px;
	top: 259px;
}
#Rectangle_12 {
	filter: blur(50px);
}
.Rectangle_12 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 689px;
	left: 1383px;
	top: 259px;
}
#Blood_Availability {
	position: absolute;
	left: 208px;
	top: 202px;
	overflow: visible;
	width: 291px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(49,49,49,1);
}
#Donor_List {
	position: absolute;
	left: 673px;
	top: 202px;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(49,49,49,1);
}
#Camp_List {
	position: absolute;
	left: 1083px;
	top: 202px;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(49,49,49,1);
}
#INFO {
	position: absolute;
	left: 1527px;
	top: 202px;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(49,49,49,1);
}
#Address__ {
	position: absolute;
	left: 1525px;
	top: 347px;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
#Phone_No___ {
	position: absolute;
	left: 1514px;
	top: 563px;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
#EMAIL_ID__ {
	position: absolute;
	left: 1519px;
	top: 674px;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
#LICENSE__ {
	position: absolute;
	left: 1524px;
	top: 785px;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
.Line_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.69));
	overflow: visible;
	position: absolute;
	width: 238px;
	height: 20px;
	left: 1458.5px;
	top: 620.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_5 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.69));
	overflow: visible;
	position: absolute;
	width: 238px;
	height: 20px;
	left: 1458.5px;
	top: 407.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_6 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.69));
	overflow: visible;
	position: absolute;
	width: 238px;
	height: 20px;
	left: 1458.5px;
	top: 437.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.69));
	overflow: visible;
	position: absolute;
	width: 238px;
	height: 20px;
	left: 1458.5px;
	top: 467.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.69));
	overflow: visible;
	position: absolute;
	width: 238px;
	height: 20px;
	left: 1458.5px;
	top: 497.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_3 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.69));
	overflow: visible;
	position: absolute;
	width: 238px;
	height: 20px;
	left: 1458.5px;
	top: 731.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_4 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.69));
	overflow: visible;
	position: absolute;
	width: 238px;
	height: 20px;
	left: 1462.5px;
	top: 842.5px;
	transform: matrix(1,0,0,1,0,0);
}
#ID0123456789 {
	position: absolute;
	left: 1511px;
	top: 594px;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(49,49,49,1);
	letter-spacing: 0.1px;
}
#example_gmail_com {
	position: absolute;
	left: 1474px;
	top: 703px;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(49,49,49,1);
	letter-spacing: 0.1px;
}
#ID123_456_789 {
	position: absolute;
	left: 1511px;
	top: 815px;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(49,49,49,1);
	letter-spacing: 0.1px;
}