<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>web-bb-signup</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="angular-app/bb-signup/web_bb_signup.css"/>
<script id="applicationScript" type="text/javascript" src="angular-app/bb-signup/web_bb_signup.js"></script>
</head>
<body>
<div id="web_bb_signup">
	<div id="Group_23">
		<img id="Group_1" src="angular-app/bb-signup/Group_1.png" srcset="angular-app/bb-signup/Group_1.png 1x, angular-app/bb-signup/Group_1@2x.png 2x">
	</div>
	<div id="Group_21">
		<div id="with____by_FAM_ILY">
			<span>with ❤️ by </span><span style="font-style:normal;font-weight:bold;">FAM-ILY</span>
		</div>
		<img id="programming_grey" src="angular-app/bb-signup/programming_grey.png" srcset="angular-app/bb-signup/programming_grey.png 1x, angular-app/bb-signup/programming_grey@2x.png 2x">
	</div>
	<div id="Group_24">
		<form name="vm.loginForm" ng-submit="vm.signup()">
		<div id="NAME" class="NAME">
			<svg class="Rectangle_2">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="name_inp" required ng-model="vm.name">
				<rect fill="rgba(255,255,255,1)" id="name_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="password_inp" class="password_inp">
			<svg class="Rectangle_2_bb">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bb" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="password" class="name_inp_bc" required ng-model="vm.password">
				<rect fill="rgba(255,255,255,1)" id="name_inp_bc" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="EMAIL" class="EMAIL">
			<svg class="Rectangle_2_be">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_be" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="email_inp" required ng-model="vm.email">
				<rect fill="rgba(255,255,255,1)" id="email_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="ADDRESS" class="ADDRESS">
			<svg class="Rectangle_2_bh">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bh" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="name_inp_bi" required ng-model="vm.address">
				<rect fill="rgba(255,255,255,1)" id="name_inp_bi" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="CITY" class="CITY">
			<svg class="Rectangle_2_bk">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bk" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="city_inp" required ng-model="vm.city">
				<rect fill="rgba(255,255,255,1)" id="city_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="PHONE" class="PHONE">
			<svg class="Rectangle_2_bn">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bn" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="phone_inp" required ng-model="vm.phone">
				<rect fill="rgba(255,255,255,1)" id="phone_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="STATE" class="STATE">
			<svg class="Rectangle_2_bq">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bq" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="state_inp" required ng-model="vm.state">
				<rect fill="rgba(255,255,255,1)" id="state_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="LIS" class="LIS">
			<svg class="Rectangle_2_bt">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bt" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="file" class="lisense_inp" id="lis_upload">
				<rect fill="rgba(255,255,255,1)" id="lisense_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="NAME_______________________">
			<span>NAME                     : </span>
		</div>
		<div id="E_MAIL______________________">
			<span>E-MAIL                    : </span>
		</div>
		<div id="PASSWORD______________">
			<span>PASSWORD            : </span>
		</div>
		<div id="ADDRESS__________________">
			<span>ADDRESS                : </span>
		</div>
		<div id="CITY_TOWN______________">
			<span>CITY/TOWN            : </span>
		</div>
		<div id="STATE________________________">
			<span>STATE                      : </span>
		</div>
		<div id="PHONE______________________">
			<span>PHONE                    : </span>
		</div>
		<div id="LISCENSE__________________">
			<span>LISCENSE                : </span>
		</div>
		<button type="submit" id="signup_btn" class="signup_btn">
			<svg class="Rectangle_4">
				<rect fill="rgba(224,83,83,1)" stroke="rgba(49,49,49,1)" stroke-width="3px" stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_4" rx="18" ry="18" x="0" y="0" width="125" height="36">
				</rect>
			</svg>
			<div id="SIGNUP">
				<span>SIGNUP</span>
			</div>
		</button>
		</form>
	</div>
</div>
</body>
</html>