.mediaViewInfo {
	--web-view-name: web-bb-Donation;
	--web-view-id: web_bb_Donation;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web_bb_Donation;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web_bb_Donation {
	position: absolute;
	width: 1920px;
	height: 975px;
	background-color: rgba(245,245,245,1);
	overflow: hidden;
	--web-view-name: web-bb-Donation;
	--web-view-id: web_bb_Donation;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#ID11_07_AM {
	position: absolute;
	left: 1819px;
	top: 2px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(245,245,245,1);
}
#Group_6 {
	position: absolute;
	width: 393px;
	height: 347px;
	left: 319px;
	top: 314px;
	overflow: visible;
}
#okay_btn {
	position: absolute;
	width: 99px;
	left: 94px;
	top: 311px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 99px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Okay {
	position: absolute;
	left: 25.5px;
	top: 4px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
#cancel_btn {
	position: absolute;
	width: 99px;
	left: 200px;
	top: 311px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 99px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#cancel {
	position: absolute;
	left: 20.5px;
	top: 4px;
	overflow: visible;
	width: 60px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
#check_btn {
	position: absolute;
	width: 99px;
	left: 294px;
	top: 3px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 99px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Check {
	position: absolute;
	left: 21.5px;
	top: 4px;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(53,49,49,1);
}
#phone_inp {
	position: absolute;
	width: 277px;
	height: 42px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#phone_call {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 11px;
	top: 6px;
	overflow: visible;
}
.usr_input {
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 32px;
	left: 41px;
	top: 5px;
}
#unit_inp {
	position: absolute;
	width: 277px;
	height: 42px;
	left: 58px;
	top: 247px;
	overflow: visible;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#science {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 13px;
	top: 6px;
	overflow: visible;
}
.usr_input_bi {
	position: absolute;
	overflow: visible;
	width: 214px;
	height: 32px;
	left: 43px;
	top: 5px;
}
#Rectangle_25 {
	filter: blur(30px);
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 369px;
	height: 45px;
	left: 11px;
	top: 67px;
}
#Rectangle_26 {
	filter: blur(30px);
}
.Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 369px;
	height: 45px;
	left: 11px;
	top: 171px;
}
#Rectangle_27 {
	filter: blur(30px);
}
.Rectangle_27 {
	position: absolute;
	overflow: visible;
	width: 369px;
	height: 45px;
	left: 11px;
	top: 119px;
}
#NAME_______________________ {
	position: absolute;
	left: 26px;
	top: 76.5px;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(50,50,50,1);
}
#Blood_Group_____________ {
	position: absolute;
	left: 26px;
	top: 128.5px;
	overflow: visible;
	width: 192px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(50,50,50,1);
}
#Eligible_to_Donate____ {
	position: absolute;
	left: 26px;
	top: 180.5px;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(50,50,50,1);
}
#Kiran_A_K {
	position: absolute;
	left: 223px;
	top: 76.5px;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(50,50,50,1);
}
#B_ {
	position: absolute;
	left: 223px;
	top: 121.5px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(50,50,50,1);
}
#YES {
	position: absolute;
	left: 223px;
	top: 173.5px;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(50,50,50,1);
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Group_1 {
	position: absolute;
	width: 168px;
	height: 61.436px;
	left: 26px;
	top: 7px;
	overflow: visible;
}
#bloodbank_name {
	position: absolute;
	width: 380px;
	height: 75px;
	left: 1540px;
	top: 0px;
	overflow: visible;
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 380px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Hospitals {
	position: absolute;
	left: 57.5px;
	top: 18px;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#ID019_hospital {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 10px;
	top: 15px;
	overflow: visible;
}
#home_btn {
	position: absolute;
	width: 23px;
	left: 1871px;
	top: 26px;
	overflow: visible;
	cursor: pointer;
}
#home {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#refresh_btn {
	position: absolute;
	width: 25px;
	left: 1838px;
	top: 25px;
	overflow: visible;
	cursor: pointer;
}
#update_arrows {
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#BA_btn {
	position: absolute;
	width: 330px;
	height: 75px;
	left: 220px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Blood_Availability {
	position: absolute;
	left: 64px;
	top: 18px;
	overflow: visible;
	width: 250px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#ID018_flask {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 17px;
	top: 15px;
	overflow: visible;
}
#donation_btn {
	position: absolute;
	width: 330px;
	height: 75px;
	left: 880px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Donations {
	position: absolute;
	left: 116px;
	top: 18px;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(225,83,83,1);
}
#ID008_donor_1 {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 69px;
	top: 15px;
	overflow: visible;
}
#camp_btn {
	position: absolute;
	width: 330px;
	height: 75px;
	left: 1210px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Camps {
	position: absolute;
	left: 142px;
	top: 18px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#blood {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 95px;
	top: 15px;
	overflow: visible;
}
#req_button {
	position: absolute;
	width: 330px;
	height: 75px;
	left: 550px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
.Rectangle_16_cf {
	position: absolute;
	overflow: visible;
	width: 330px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Requests {
	position: absolute;
	left: 128px;
	top: 18px;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(245,245,245,1);
}
#important {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 77px;
	top: 15px;
	overflow: visible;
}
#Group_14 {
	position: absolute;
	width: 822.5px;
	height: 755px;
	left: 1031px;
	top: 110px;
	overflow: visible;
}
.Rectangle_34 {
	filter: drop-shadow(0px 0px 36px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 930px;
	height: 861px;
	left: 0px;
	top: 2px;
}
.Line_8 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 2px;
	left: 0.5px;
	top: 94.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 134.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_32 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 374.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_20 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 254.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_31 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 494.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_37 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 634.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_13 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 194.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_30 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 434.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_19 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 314.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_29 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 554.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_34 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 694.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 114.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_28 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 354.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_18 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 234.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_27 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 474.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_38 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 614.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_14 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 174.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_26 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 414.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_17 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 294.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_25 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 534.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_35 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 674.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 154.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_24 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 394.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_16 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 274.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_23 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 514.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_36 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 654.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_12 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 214.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_22 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 454.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_39 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 594.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_15 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 334.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_21 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 574.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_33 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 714.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_40 {
	overflow: visible;
	position: absolute;
	width: 822px;
	height: 1px;
	left: 0.5px;
	top: 734.5px;
	transform: matrix(1,0,0,1,0,0);
}
#DONOR_LIST {
	position: absolute;
	left: 24.5px;
	top: 0px;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(53,49,49,1);
}
#Group_4 {
	position: absolute;
	width: 66px;
	height: 29px;
	left: 603px;
	top: 57px;
	overflow: visible;
}
#Unit {
	position: absolute;
	left: 26px;
	top: 1px;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(53,49,49,1);
}
#ID036_blood_bag {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Date {
	position: absolute;
	left: 748px;
	top: 58px;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(53,49,49,1);
}
#Group_2 {
	position: absolute;
	width: 119px;
	height: 29px;
	left: 223.5px;
	top: 57px;
	overflow: visible;
}
#Phone_No {
	position: absolute;
	left: 26px;
	top: 1.5px;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(53,49,49,1);
}
#phone_receiver {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_3 {
	position: absolute;
	width: 88px;
	height: 29px;
	left: 30.5px;
	top: 57px;
	overflow: visible;
}
#Name {
	position: absolute;
	left: 32px;
	top: 1px;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(53,49,49,1);
}
#stick_man {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_1_ds {
	position: absolute;
	width: 124.5px;
	height: 29px;
	left: 439px;
	top: 57px;
	overflow: visible;
}
#Bloodgroup {
	position: absolute;
	left: 29.5px;
	top: 4px;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(53,49,49,1);
}
#ID025_immune_system {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Kiran {
	position: absolute;
	left: 31px;
	top: 95px;
	overflow: visible;
	width: 38px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(53,49,49,1);
}
#B__dw {
	position: absolute;
	left: 491.5px;
	top: 95px;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(53,49,49,1);
}
#ID0_5 {
	position: absolute;
	left: 626.5px;
	top: 95px;
	overflow: visible;
	width: 22px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(53,49,49,1);
}
#ID07_11_1999 {
	position: absolute;
	left: 712.5px;
	top: 95px;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(53,49,49,1);
}
#ID9487291799 {
	position: absolute;
	left: 231px;
	top: 95px;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(53,49,49,1);
}
#time_and_date {
	position: absolute;
	width: 29px;
	height: 29px;
	left: 715px;
	top: 57px;
	overflow: visible;
}
#left_arrow {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 756px;
	top: 8px;
	overflow: visible;
}
#right_arrow__2_ {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 786px;
	top: 8px;
	overflow: visible;
}
#madeby {
	position: absolute;
	width: 373px;
	height: 47px;
	left: 774px;
	top: 922px;
	overflow: visible;
}
#with____by_FAM_ILY {
	position: absolute;
	left: 57px;
	top: 0px;
	overflow: visible;
	width: 317px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(49,49,49,1);
}
#programming_grey {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 2px;
	overflow: visible;
}