<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>web-main</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="angular-app/main/web_main.css"/>
<script id="applicationScript" type="text/javascript" src="angular-app/main/web_main.js"></script>
</head>
<body>
<div id="web_main">
	<img id="Group_1" src="angular-app/main/Group_1.png" srcset="angular-app/main/Group_1.png 1x, angular-app/main/Group_1@2x.png 2x">
	<button id="bloodbank_btn" class="bloodbank_btn" ng-click='vm.bloodbank()'>
		<svg class="Rectangle_4">
			<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_4" rx="18" ry="18" x="0" y="0" width="140.254" height="36">
			</rect>
		</svg>
		<div id="Bloodbank">
			<span>Bloodbank</span>
		</div>
		<img id="blood" src="angular-app/main/blood.png" srcset="angular-app/main/blood.png 1x, angular-app/main/blood@2x.png 2x">
	</button>
	<button id="hospital_btn" class="hospital_btn" ng-click='vm.hospital()'>
		<svg class="Rectangle_4_">
			<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_4_" rx="18" ry="18" x="0" y="0" width="141" height="36">
			</rect>
		</svg>
		<div id="Hospitals">
			<span>Hospitals</span>
		</div>
		<img id="cardiogram" src="angular-app/main/cardiogram.png" srcset="angular-app/main/cardiogram.png 1x, angular-app/main/cardiogram@2x.png 2x">
	</button>
	<button id="Camp_btn" class="Camp_btn" ng-click='vm.camps()'>
		<svg class="Rectangle_4_ba">
			<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_4_ba" rx="18" ry="18" x="0" y="0" width="106.254" height="36">
			</rect>
		</svg>
		<div id="Camps">
			<span>Camps</span>
		</div>
		<img id="blood_bc" src="angular-app/main/blood_bc.png" srcset="angular-app/main/blood_bc.png 1x, angular-app/main/blood_bc@2x.png 2x">
	</button>
	<div id="Group_21">
		<div id="with____by_FAM_ILY">
			<span>with ❤️ by </span><span style="font-style:normal;font-weight:bold;">FAM-ILY</span>
		</div>
		<img id="programming_grey" src="angular-app/main/programming_grey.png" srcset="angular-app/main/programming_grey.png 1x, angular-app/main/programming_grey@2x.png 2x">
	</div>
</div>
</body>
</html>
