<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="angular-app/web-login/web_login.css"/>
<script id="applicationScript" type="text/javascript" src="angular-app/web-login/web_login.js"></script>
</head>
<body>
<div id="web_login" >
	<div id="Made_with___">
		<span>Made with</span><span style="font-style:normal;font-weight:normal;"> ❤️</span>
	</div>
	<div id="btn">
		<div id="hosp_btn" class="hosp_btn" ng-click="vm.hosp()" ng-mouseover="vm.hospchange()" ng-mouseleave="vm.hospori()">
			<svg class="Rectangle_46">
				<rect fill="rgba(245,245,245,1)" id="Rectangle_46" rx="40" ry="40" x="0" y="0" width="440" height="340">
				</rect>
			</svg>
			<div id="hosp_details">
				<div id="HOSPITALS">
					<span>HOSPITALS</span>
				</div>
				<img id="cardiogram" src="angular-app/web-login/cardiogram.png" srcset="angular-app/web-login/cardiogram.png 1x, angular-app/web-login/cardiogram@2x.png 2x">
			</div>
		</div>
		<div id="bb_btn" class="bb_btn" ng-click="vm.bb()" ng-mouseover="vm.bbchange()" ng-mouseleave="vm.bbori()">
			<svg class="Rectangle_47">
				<rect fill="rgba(245,245,245,1)" id="Rectangle_47" rx="40" ry="40" x="0" y="0" width="440" height="340">
				</rect>
			</svg>
			<div id="bb_details">
				<div id="BLOODBANK">
					<span>BLOODBANK</span>
				</div>
				<img id="blood" src="angular-app/web-login/blood.png" srcset="angular-app/web-login/blood.png 1x, angular-app/web-login/blood@2x.png 2x">
			</div>
		</div>
		<div id="camp_btn" class="camp_btn" ng-click="vm.camps()" ng-mouseover="vm.campchange()" ng-mouseleave="vm.campori()">
			<svg class="Rectangle_53">
				<rect fill="rgba(245,245,245,1)" id="Rectangle_53" rx="40" ry="40" x="0" y="0" width="440" height="340">
				</rect>
			</svg>
			<div id="camp_details">
				<div id="CAMPS">
					<span>CAMPS</span>
				</div>
				<img id="blood_co" src="angular-app/web-login/blood_co.png" srcset="angular-app/web-login/blood_co.png 1x, angular-app/web-login/blood_co@2x.png 2x">
			</div>
		</div>
	</div>
	<img id="LOGO" src="angular-app/web-login/LOGO.png" srcset="angular-app/web-login/LOGO.png 1x, angular-app/web-login/LOGO@2x.png 2x">
	<div id="Group_80">
		<div id="LOGIN">
			<span>LOGIN</span>
		</div>
		<img id="id_card" src="angular-app/web-login/id_card.png" srcset="angular-app/web-login/id_card.png 1x, angular-app/web-login/id_card@2x.png 2x">
	</div>
</div>
</body>
</html>