<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>web-hosp-bb</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="angular-app/hosp-bb/web_hosp_bb.css"/>
<script id="applicationScript" type="text/javascript" src="angular-app/hosp-bb/web_hosp_bb.js"></script>
</head>
<body>
<div id="web_hosp_bb">
	<svg class="Rectangle_15">
		<rect fill="rgba(225,83,83,1)" id="Rectangle_15" rx="0" ry="0" x="0" y="0" width="220" height="75">
		</rect>
	</svg>
	<img id="Group_1" src="angular-app/hosp-bb/Group_1.png" srcset="angular-app/hosp-bb/Group_1.png 1x, angular-app/hosp-bb/Group_1@2x.png 2x">
	<button id="donation_btn" class="donation_btn" ng-click="vm.donation()">
		<svg class="Rectangle_17">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_17" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Donations">
			<span>Donations</span>
		</div>
		<img id="ID008_donor_1" src="angular-app/hosp-bb/ID008_donor_1.png" srcset="angular-app/hosp-bb/ID008_donor_1.png 1x, angular-app/hosp-bb/ID008_donor_1@2x.png 2x">
	</button>
	<button id="BB_btn" class="BB_btn">
		<svg class="Rectangle_16">
			<rect fill="rgba(245,245,245,1)" id="Rectangle_16" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Bloodbanks">
			<span>Bloodbanks</span>
		</div>
		<img id="blood" src="angular-app/hosp-bb/blood.png" srcset="angular-app/hosp-bb/blood.png 1x, angular-app/hosp-bb/blood@2x.png 2x">
	</button>
	<div id="Hospital_NAME" class="Hospital_NAME">
		<svg class="Rectangle_23">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_23" rx="0" ry="0" x="0" y="0" width="380" height="75">
			</rect>
		</svg>
		<div id="Hospitals">
			<span>Hospitals</span>
		</div>
		<img id="hospital_4" src="angular-app/hosp-bb/hospital_4.png" srcset="angular-app/hosp-bb/hospital_4.png 1x, angular-app/hosp-bb/hospital_4@2x.png 2x">
	</div>
	<button id="home_btn" class="home_btn" ng-click="vm.goHome()">
		<img id="home" src="angular-app/hosp-bb/home.png" srcset="angular-app/hosp-bb/home.png 1x, angular-app/hosp-bb/home@2x.png 2x">
	</button>
	<button id="refresh_btn" class="refresh_btn" ng-click="vm.refres()">
		<img id="update_arrows" src="angular-app/hosp-bb/update_arrows.png" srcset="angular-app/hosp-bb/update_arrows.png 1x, angular-app/hosp-bb/update_arrows@2x.png 2x">
	</button>
	<button id="donor_btn" class="donor_btn" ng-click="vm.donor()">
		<svg class="Rectangle_18">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_18" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Donors">
			<span>Donors</span>
		</div>
		<img id="ID007_donor" src="angular-app/hosp-bb/ID007_donor.png" srcset="angular-app/hosp-bb/ID007_donor.png 1x, angular-app/hosp-bb/ID007_donor@2x.png 2x">
	</button>
	<button id="req_btn" class="req_btn">
		<svg class="Rectangle_16_bn">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_16_bn" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Request">
			<span>Request</span>
		</div>
		<img id="mail" src="angular-app/hosp-bb/mail.png" srcset="angular-app/hosp-bb/mail.png 1x, angular-app/hosp-bb/mail@2x.png 2x">
	</button>
	<svg class="Rectangle_34">
		<rect fill="rgba(255,255,255,1)" id="Rectangle_34" rx="0" ry="0" x="0" y="0" width="1868" height="753">
		</rect>
	</svg>
	<svg class="Line_8" viewBox="0 0 1867.5 2">
		<path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_8" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_11" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_11" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_32" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_32" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_20" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_20" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_31" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_31" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_37" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_37" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_13" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_13" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_30" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_30" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_19" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_19" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_29" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_29" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_34" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_34" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_9" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_9" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_28" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_28" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_18" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_18" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_27" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_27" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_38" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_38" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_14" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_14" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_26" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_26" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_17" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_17" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_25" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_25" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_35" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_35" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_10" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_10" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_24" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_24" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_16" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_16" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_23" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_23" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_36" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_36" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_12" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_12" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_22" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_22" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_39" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_39" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_15" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_15" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_21" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_21" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_33" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_33" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_40" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_40" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<div id="BLOODBANK_LIST">
		<span>BLOODBANK LIST</span>
	</div>
	<div id="Kiran">
		<p ng-repeat="x in vm.dat">{{x.name}}<br></p>
	</div>
	<div id="Group_8">
		<img id="placeholder" src="angular-app/hosp-bb/placeholder.png" srcset="angular-app/hosp-bb/placeholder.png 1x, angular-app/hosp-bb/placeholder@2x.png 2x">
		<div id="Location">
			<span>Location</span>
		</div>
	</div>
	<div id="Erode">
		<p ng-repeat="x in vm.dat">{{x.city}}<br></p>
	</div>
	<img id="minus_red" src="angular-app/hosp-bb/minus_red.png" srcset="angular-app/hosp-bb/minus_red.png 1x, angular-app/hosp-bb/minus_red@2x.png 2x">
	<img id="plus_red" src="angular-app/hosp-bb/plus_red.png" srcset="angular-app/hosp-bb/plus_red.png 1x, angular-app/hosp-bb/plus_red@2x.png 2x">
	<div id="Oneg">
		<img id="ID029_blood_type_3" src="angular-app/hosp-bb/ID029_blood_type_3.png" srcset="angular-app/hosp-bb/ID029_blood_type_3.png 1x, angular-app/hosp-bb/ID029_blood_type_3@2x.png 2x">
		<div id="ID0_5">
			<p ng-repeat="x in vm.dat">{{x.BloodAvailability[5].quantity}}<br></p>
		</div>
	</div>
	<div id="Opos">
		<img id="ID029_blood_type_3_c" src="angular-app/hosp-bb/ID029_blood_type_3_c.png" srcset="angular-app/hosp-bb/ID029_blood_type_3_c.png 1x, angular-app/hosp-bb/ID029_blood_type_3_c@2x.png 2x">
		<div id="ID0_5_c">
			<p ng-repeat="x in vm.dat">{{x.BloodAvailability[4].quantity}}<br></p>
		</div>
	</div>
	<div id="Bneg">
		<img id="ID027_blood_type_1" src="angular-app/hosp-bb/ID027_blood_type_1.png" srcset="angular-app/hosp-bb/ID027_blood_type_1.png 1x, angular-app/hosp-bb/ID027_blood_type_1@2x.png 2x">
		<div id="ID0_5_da">
			<p ng-repeat="x in vm.dat">{{x.BloodAvailability[3].quantity}}<br></p>
		</div>
	</div>
	<div id="Bpos">
		<img id="ID027_blood_type_1_c" src="angular-app/hosp-bb/ID027_blood_type_1_c.png" srcset="angular-app/hosp-bb/ID027_blood_type_1_c.png 1x, angular-app/hosp-bb/ID027_blood_type_1_c@2x.png 2x">
		<div id="ID0_5_db">
			<p ng-repeat="x in vm.dat">{{x.BloodAvailability[2].quantity}}<br></p>
		</div>
	</div>
	<div id="ABneg">
		<img id="ID028_blood_type_2" src="angular-app/hosp-bb/ID028_blood_type_2.png" srcset="angular-app/hosp-bb/ID028_blood_type_2.png 1x, angular-app/hosp-bb/ID028_blood_type_2@2x.png 2x">
		<div id="ID0_5_dc">
			<p ng-repeat="x in vm.dat">{{x.BloodAvailability[7].quantity}}<br></p>
		</div>
	</div>
	<div id="ABpos">
		<img id="ID028_blood_type_2_dc" src="angular-app/hosp-bb/ID028_blood_type_2_dc.png" srcset="angular-app/hosp-bb/ID028_blood_type_2_dc.png 1x, angular-app/hosp-bb/ID028_blood_type_2_dc@2x.png 2x">
		<div id="ID0_5_dd">
			<p ng-repeat="x in vm.dat">{{x.BloodAvailability[6].quantity}}<br></p>
		</div>
	</div>
	<div id="Aneg">
		<img id="ID026_blood_type" src="angular-app/hosp-bb/ID026_blood_type.png" srcset="angular-app/hosp-bb/ID026_blood_type.png 1x, angular-app/hosp-bb/ID026_blood_type@2x.png 2x">
		<div id="ID0_5_dg">
			<p ng-repeat="x in vm.dat">{{x.BloodAvailability[1].quantity}}<br></p>
		</div>
	</div>
	<div id="Apos">
		<img id="ID026_blood_type_di" src="angular-app/hosp-bb/ID026_blood_type_di.png" srcset="angular-app/hosp-bb/ID026_blood_type_di.png 1x, angular-app/hosp-bb/ID026_blood_type_di@2x.png 2x">
		<div id="ID0_5_dj">
			<p ng-repeat="x in vm.dat">{{x.BloodAvailability[0].quantity}}<br></p>
		</div>
	</div>
	<img id="left_arrow" src="angular-app/hosp-bb/left_arrow.png" srcset="angular-app/hosp-bb/left_arrow.png 1x, angular-app/hosp-bb/left_arrow@2x.png 2x">
	<img id="right_arrow__2_" src="angular-app/hosp-bb/right_arrow__2_.png" srcset="angular-app/hosp-bb/right_arrow__2_.png 1x, angular-app/hosp-bb/right_arrow__2_@2x.png 2x">
	<div id="Group_11">
		<div id="Name">
			<span>Name</span>
		</div>
		<img id="blood_do" src="angular-app/hosp-bb/blood_do.png" srcset="angular-app/hosp-bb/blood_do.png 1x, angular-app/hosp-bb/blood_do@2x.png 2x">
	</div>
	<div id="Group_2">
		<div id="Phone_No">
			<span>Phone No</span>
		</div>
		<img id="phone_receiver" src="angular-app/hosp-bb/phone_receiver.png" srcset="angular-app/hosp-bb/phone_receiver.png 1x, angular-app/hosp-bb/phone_receiver@2x.png 2x">
	</div>
	<div id="ID9487291799">
		<p ng-repeat="x in vm.dat">{{x.phoneNo}}<br></p>
	</div>
	<div id="madeby">
		<div id="with____by_FAM_ILY">
			<span>with ❤️ by </span><span style="font-style:normal;font-weight:bold;">FAM-ILY</span>
		</div>
		<img id="programming_grey" src="angular-app/hosp-bb/programming_grey.png" srcset="angular-app/hosp-bb/programming_grey.png 1x, angular-app/hosp-bb/programming_grey@2x.png 2x">
	</div>
</div>
</body>
</html>