.mediaViewInfo {
	--web-view-name: web-login;
	--web-view-id: web_login;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web_login;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web_login {
	position: absolute;
	width: 1920px;
	height: 975px;
	background-color: rgba(225,83,83,1);
	overflow: hidden;
	--web-view-name: web-login;
	--web-view-id: web_login;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_1 {
	filter: blur(50px);
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(112, 112, 112, 1));
	position: absolute;
	overflow: visible;
	width: 368px;
	height: 552px;
	left: 1490px;
	top: 220.5px;
}
#Login {
	position: absolute;
	left: 1573px;
	top: 270.536px;
	overflow: visible;
	width: 185px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(49,49,49,1);
}
#usr {
	position: absolute;
	width: 277px;
	height: 42px;
	left: 1527px;
	top: 442.231px;
	overflow: visible;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#pass {
	position: absolute;
	width: 277px;
	height: 42px;
	left: 1527px;
	top: 521.329px;
	overflow: visible;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#Username___ {
	position: absolute;
	left: 1545px;
	top: 417.968px;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
#Password___ {
	position: absolute;
	left: 1545px;
	top: 497.143px;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(49,49,49,1);
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 5px;
	height: 703px;
	left: 1409.5px;
	top: 136.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_1 {
	position: absolute;
	width: 1221.3px;
	height: 446.477px;
	left: 92px;
	top: 264px;
	overflow: visible;
}
#___with____by_FAM_ILY {
	position: absolute;
	left: 773px;
	top: 902px;
	overflow: visible;
	width: 375px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(49,49,49,1);
}
#usr_input {
	filter: blur(30px);
}
.usr_input {
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 30px;
	left: 1546px;
	top: 448.2px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(49,49,49,1);
}
#pass_input {
	filter: blur(30px);
}
.pass_input {
	position: absolute;
	overflow: visible;
	width: 238px;
	height: 30px;
	left: 1546px;
	top: 528.3px;
	text-align: left;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
/* color: rgba(49,49,49,1); */
  padding-bottom: 8px
}
#btn_login {
	position: absolute;
	width: 94px;
	left: 1618px;
	top: 617px;
	overflow: visible;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#login {
	position: absolute;
	left: 13.746px;
	top: 6.5px;
	overflow: visible;
	width: 42px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(49,49,49,1);
}
#user {
	position: absolute;
	width: 21px;
	height: 21px;
	left: 61px;
	top: 8px;
	overflow: visible;
}
#btn_pressed {
	opacity: 0.29;
}
.btn_pressed {
	display: none;
	overflow: visible;
	position: absolute;
	width: 91.981px;
	height: 36px;
	left: 2px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
