<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>web-bb-login</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="angular-app/bb-login/web_bb_login.css"/>
<script id="applicationScript" type="text/javascript" src="angular-app/bb-login/web_bb_login.js"></script>
</head>
<body>
<div id="web_bb_login">
	<svg class="Rectangle_14">
		<rect fill="rgba(245,245,245,1)" id="Rectangle_14" rx="0" ry="0" x="0" y="0" width="513" height="975">
		</rect>
	</svg>
	<img id="Group_1" src="angular-app/bb-login/Group_1.png" srcset="angular-app/bb-login/Group_1.png 1x, angular-app/bb-login/Group_1@2x.png 2x">
	<svg class="Rectangle_1">
		<rect fill="rgba(225,83,83,1)" stroke="rgba(225,83,83,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_1" rx="44" ry="44" x="0" y="0" width="327" height="446">
		</rect>
	</svg>
	<svg class="Rectangle_2">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2" rx="21" ry="21" x="0" y="0" width="277" height="42">
		</rect>
	</svg>
	<svg class="Rectangle_3">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="3px" stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_3" rx="21" ry="21" x="0" y="0" width="277" height="42">
		</rect>
	</svg>
	<img id="lock" src="angular-app/bb-login/lock.png" srcset="angular-app/bb-login/lock.png 1x, angular-app/bb-login/lock@2x.png 2x">
	<div id="Component_15___1" class="Component_15___1">
		<img id="name" src="angular-app/bb-login/name.png" srcset="angular-app/bb-login/name.png 1x, angular-app/bb-login/name@2x.png 2x">
		<div id="Bloodbank">
			<span>Bloodbank</span>
		</div>
	</div>
	<form name="vm.loginForm" ng-submit="vm.login()" >
	<button type="submit" id="login_btn" class="login_btn">
		<svg class="Ellipse_1">
			<ellipse fill="rgba(225,83,83,1)" stroke="rgba(112,112,112,1)" stroke-width="4px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_1" rx="35" ry="35" cx="35" cy="35">
			</ellipse>
		</svg>
		<img id="arrow_pointing_to_right" src="angular-app/bb-login/arrow_pointing_to_right.png" srcset="angular-app/bb-login/arrow_pointing_to_right.png 1x, arrow_pointing_to_right@2x.png 2x">
	</button>
	<input type="text" class="usr_input" required ng-minlength="5" ng-model="vm.u_input">
		<rect fill="rgba(255,255,255,1)" id="usr_input" rx="0" ry="0" x="0" y="0" width="210" height="32">
		</rect>
	<input type="password" class="pass_input" required ng-minlength="5" ng-model="vm.p_input">
		<rect fill="rgba(255,255,255,1)" id="pass_input" rx="0" ry="0" x="0" y="0" width="210" height="32">
		</rect>
	</form>
	<img id="blood" src="angular-app/bb-login/blood.png" srcset="angular-app/bb-login/blood.png 1x, angular-app/bb-login/blood@2x.png 2x">
	<div id="madeby">
		<div id="with____by_FAM_ILY">
			<span>with ❤️ by </span><span style="font-style:normal;font-weight:bold;">FAM-ILY</span>
		</div>
		<img id="programming_grey" src="angular-app/bb-login/programming_grey.png" srcset="angular-app/bb-login/programming_grey.png 1x, angular-app/bb-login/programming_grey@2x.png 2x">
	</div>
</div>
</body>
</html>
