<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>web-donor-signup</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="angular-app/donor-signup/web_donor_signup.css"/>
<script id="applicationScript" type="text/javascript" src="angular-app/donor-signup/web_donor_signup.js"></script>
</head>
<body>
<div id="web_donor_signup">
	<div id="Group_23">
		<img id="Group_1" src="Group_1.png" srcset="angular-app/donor-signup/Group_1.png 1x, angular-app/donor-signup/Group_1@2x.png 2x">
	</div>
	<div id="Group_21">
		<div id="with____by_FAM_ILY">
			<span>with ❤️ by </span><span style="font-style:normal;font-weight:bold;">FAM-ILY</span>
		</div>
		<img id="programming_grey" src="angular-app/donor-signup/programming_grey.png" srcset="angular-app/donor-signup/programming_grey.png 1x, angular-app/donor-signup/programming_grey@2x.png 2x">
	</div>
	<div id="Group_26">
		<form name="vm.loginForm" ng-submit="vm.signup()">
		<div id="DOB" class="DOB">
			<svg class="Rectangle_2">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="date" class="DATE_inp" ng-model="vm.date">
				<rect fill="rgba(255,255,255,1)" id="DATE_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="password_inp" class="password_inp">
			<svg class="Rectangle_2_bd">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bd" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="password" class="name_inp" ng-model="vm.password">
				<rect fill="rgba(255,255,255,1)" id="name_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="EMAIL" class="EMAIL">
			<svg class="Rectangle_2_bg">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bg" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="email" class="email_inp" ng-model="vm.email">
				<rect fill="rgba(255,255,255,1)" id="email_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="ADDRESS" class="ADDRESS">
			<svg class="Rectangle_2_bj">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bj" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="name_inp_bk" ng-model="vm.addr">
				<rect fill="rgba(255,255,255,1)" id="name_inp_bk" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="CITY" class="CITY">
			<svg class="Rectangle_2_bm">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bm" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="city_inp" ng-model="vm.city">
				<rect fill="rgba(255,255,255,1)" id="city_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="PHONE" class="PHONE">
			<svg class="Rectangle_2_bp">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bp" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="phone_inp" ng-model="vm.phone">
				<rect fill="rgba(255,255,255,1)" id="phone_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="STATE" class="STATE">
			<svg class="Rectangle_2_bs">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_bs" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="state_inp" ng-model="vm.state">
				<rect fill="rgba(255,255,255,1)" id="state_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="DATE_OF_BIRTH________">
			<span>DATE OF BIRTH      : </span>
		</div>
		<div id="E_MAIL______________________">
			<span>E-MAIL                    : </span>
		</div>
		<div id="PASSWORD______________">
			<span>PASSWORD            : </span>
		</div>
		<div id="ADDRESS__________________">
			<span>ADDRESS                : </span>
		</div>
		<div id="CITY_TOWN______________">
			<span>CITY/TOWN            : </span>
		</div>
		<div id="STATE________________________">
			<span>STATE                      : </span>
		</div>
		<div id="PHONE______________________">
			<span>PHONE                    : </span>
		</div>
		<button type="submit" id="signup_btn" class="signup_btn">
			<svg class="Rectangle_4">
				<rect fill="rgba(224,83,83,1)" stroke="rgba(49,49,49,1)" stroke-width="3px" stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_4" rx="18" ry="18" x="0" y="0" width="125" height="36">
				</rect>
			</svg>
			<div id="SIGNUP">
				<span>SIGNUP</span>
			</div>
		</button>
		<div id="NAME" class="NAME">
			<svg class="Rectangle_2_b">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_b" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="fname_inp" ng-model="vm.fname">
				<rect fill="rgba(255,255,255,1)" id="fname_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="FIRST_NAME_____________">
			<span>FIRST NAME           : </span>
		</div>
		<div id="bg_inp" class="bg_inp">
			<svg class="Rectangle_2_ca">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_ca" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="bloodgroup_inp" ng-model="vm.bg">
				<rect fill="rgba(255,255,255,1)" id="bloodgroup_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="BLOODGROUP__________">
			<span>BLOODGROUP        : </span>
		</div>
		<div id="NAME_cc" class="NAME">
			<svg class="Rectangle_2_cd">
				<rect fill="rgba(255,255,255,1)" stroke="rgba(225,83,83,1)" stroke-width="3px" stroke-linejoin="bevel" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_2_cd" rx="21" ry="21" x="0" y="0" width="500" height="42">
				</rect>
			</svg>
			<input type="text" class="lname_inp" ng-model="vm.lname">
				<rect fill="rgba(255,255,255,1)" id="lname_inp" rx="0" ry="0" x="0" y="0" width="457" height="32">
				</rect>
			</input>
		</div>
		<div id="LAST_NAME______________">
			<span>LAST NAME            : </span>
		</div>
		</form>
	</div>
</div>
</body>
</html>