<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>web-bb-camp</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="angular-app/bb-camp/web_bb_camp.css"/>
<script id="applicationScript" type="text/javascript" src="angular-app/bb-camp/web_bb_camp.js"></script>
</head>
<body>
<div id="web_bb_camp">
	<svg class="Rectangle_15">
		<rect fill="rgba(225,83,83,1)" id="Rectangle_15" rx="0" ry="0" x="0" y="0" width="220" height="75">
		</rect>
	</svg>
	<img id="Group_1" src="angular-app/bb-camp/Group_1.png" srcset="angular-app/bb-camp/Group_1.png 1x, angular-app/bb-camp/Group_1@2x.png 2x">
	<div id="bloodbank_name" class="bloodbank_name">
		<svg class="Rectangle_23">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_23" rx="0" ry="0" x="0" y="0" width="380" height="75">
			</rect>
		</svg>
		<div id="Hospitals">
			<span>{{vm.bank_name}}</span>
		</div>
		<img id="ID019_hospital" src="angular-app/bb-camp/ID019_hospital.png" srcset="angular-app/bb-camp/ID019_hospital.png 1x, angular-app/bb-camp/ID019_hospital@2x.png 2x">
	</div>
	<button id="home_btn" class="home_btn" ng-click='vm.goHome()'>
		<img id="home" src="angular-app/bb-camp/home.png" srcset="angular-app/bb-camp/home.png 1x, angular-app/bb-camp/home@2x.png 2x">
	</button>
	<button id="refresh_btn" class="refresh_btn" ng-click='vm.refres()'>
		<img id="update_arrows" src="angular-app/bb-camp/update_arrows.png" srcset="angular-app/bb-camp/update_arrows.png 1x, angular-app/bb-camp/update_arrows@2x.png 2x">
	</button>
	<button id="BA_btn" class="BA_btn" ng-click="vm.ba()">
		<svg class="Rectangle_16">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_16" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Blood_Availability">
			<span>Blood Availability</span>
		</div>
		<img id="ID018_flask" src="angular-app/bb-camp/ID018_flask.png" srcset="angular-app/bb-camp/ID018_flask.png 1x, angular-app/bb-camp/ID018_flask@2x.png 2x">
	</button>
	<button id="donation_btn" class="donation_btn" ng-click="vm.donation()">
		<svg class="Rectangle_17">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_17" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Donations">
			<span>Donations</span>
		</div>
		<img id="ID008_donor_1" src="angular-app/bb-camp/ID008_donor_1.png" srcset="angular-app/bb-camp/ID008_donor_1.png 1x, angular-app/bb-camp/ID008_donor_1@2x.png 2x">
	</button>
	<div id="camp_btn" class="camp_btn">
		<svg class="Rectangle_18">
			<rect fill="rgba(245,245,245,1)" id="Rectangle_18" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Camps">
			<span>Camps</span>
		</div>
		<img id="blood" src="angular-app/bb-camp/blood.png" srcset="angular-app/bb-camp/blood.png 1x, angular-app/bb-camp/blood@2x.png 2x">
	</div>
	<div id="req_button" class="req_button">
		<svg class="Rectangle_16_bn">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_16_bn" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Requests">
			<span>Requests</span>
		</div>
		<img id="important" src="angular-app/bb-camp/important.png" srcset="angular-app/bb-camp/important.png 1x, angular-app/bb-camp/important@2x.png 2x">
	</div>
	<svg class="Rectangle_34">
		<rect fill="rgba(255,255,255,1)" id="Rectangle_34" rx="0" ry="0" x="0" y="0" width="1868" height="753">
		</rect>
	</svg>
	<svg class="Line_8" viewBox="0 0 1867.5 2">
		<path fill="transparent" stroke="rgba(112,112,112,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_8" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_11" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_11" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_32" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_32" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_20" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_20" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_31" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_31" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_37" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_37" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_13" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_13" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_30" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_30" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_19" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_19" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_29" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_29" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_34" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_34" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_9" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_9" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_28" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_28" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_18" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_18" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_27" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_27" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_38" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_38" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_14" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_14" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_26" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_26" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_17" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_17" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_25" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_25" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_35" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_35" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_10" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_10" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_24" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_24" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_16" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_16" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_23" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_23" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_36" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_36" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_12" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_12" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_22" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_22" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_39" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_39" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_15" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_15" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_21" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_21" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_33" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_33" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<svg class="Line_40" viewBox="0 0 1867.5 1">
		<path fill="transparent" stroke="rgba(146,146,146,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_40" d="M 0 0 L 1867.5 0">
		</path>
	</svg>
	<div id="CAMP_LIST">
		<span>CAMP LIST</span>
	</div>
	<div id="Kiran">
		<p  ng-repeat="x in vm.dat | orderBy:'createdOn':'false'">{{x.name}}<br></p>
	</div>
	<div id="Tunits">
		<div id="Group_4">
			<div id="Units">
				<span>Units</span>
			</div>
			<img id="ID036_blood_bag" src="angular-app/bb-camp/ID036_blood_bag.png" srcset="angular-app/bb-camp/ID036_blood_bag.png 1x, angular-app/bb-camp/ID036_blood_bag@2x.png 2x">
		</div>
		<div id="ID0_5">
			<p ng-repeat="x in vm.dat | orderBy:'createdOn':'false'">{{x.BloodAvailability[0].quantity+x.BloodAvailability[1].quantity+x.BloodAvailability[2].quantity+x.BloodAvailability[3].quantity+x.BloodAvailability[4].quantity+x.BloodAvailability[5].quantity+x.BloodAvailability[6].quantity+x.BloodAvailability[7].quantity}}</p>
		</div>
	</div>
	<div id="ID07_11_1999">
		<p  ng-repeat="x in vm.da track by $index">{{x}}</p>
	</div>
	<div id="Group_9">
		<div id="Date">
			<span>Date</span>
		</div>
		<img id="time_and_date" src="angular-app/bb-camp/time_and_date.png" srcset="angular-app/bb-camp/time_and_date.png 1x, angular-app/bb-camp/time_and_date@2x.png 2x">
	</div>
	<div id="Group_10">
		<div id="Name">
			<span>Name</span>
		</div>
		<img id="blood_c" src="angular-app/bb-camp/blood_c.png" srcset="angular-app/bb-camp/blood_c.png 1x, angular-app/bb-camp/blood_c@2x.png 2x">
	</div>
	<div id="Group_8">
		<img id="placeholder" src="angular-app/bb-camp/placeholder.png" srcset="angular-app/bb-camp/placeholder.png 1x, angular-app/bb-camp/placeholder@2x.png 2x">
		<div id="Location">
			<span>Location</span>
		</div>
	</div>
	<div id="Erode">
		<p ng-repeat="x in vm.dat | orderBy:'createdOn':'false'">{{x.location}}<br></p>
	</div>
	<img id="minus_red" src="angular-app/bb-camp/minus_red.png" srcset="angular-app/bb-camp/minus_red.png 1x, angular-app/bb-camp/minus_red@2x.png 2x">
	<img id="plus_red" src="angular-app/bb-camp/plus_red.png" srcset="angular-app/bb-camp/plus_red.png 1x, angular-app/bb-camp/plus_red@2x.png 2x">
	<div id="Oneg">
		<img id="ID029_blood_type_3" src="angular-app/bb-camp/ID029_blood_type_3.png" srcset="angular-app/bb-camp/ID029_blood_type_3.png 1x, angular-app/bb-camp/ID029_blood_type_3@2x.png 2x">
		<div id="ID0_5_da">
			<p ng-repeat="x in vm.dat | orderBy:'createdOn':'false'">{{x.BloodAvailability[5].quantity}}</p>
		</div>
	</div>
	<div id="Opos">
		<img id="ID029_blood_type_3_dc" src="angular-app/bb-camp/ID029_blood_type_3_dc.png" srcset="angular-app/bb-camp/ID029_blood_type_3_dc.png 1x, angular-app/bb-camp/ID029_blood_type_3_dc@2x.png 2x">
		<div id="ID0_5_dd">
			<p ng-repeat="x in vm.dat | orderBy:'createdOn':'false'">{{x.BloodAvailability[4].quantity}}</p>
		</div>
	</div>
	<div id="Bneg">
		<img id="ID027_blood_type_1" src="angular-app/bb-camp/ID027_blood_type_1.png" srcset="angular-app/bb-camp/ID027_blood_type_1.png 1x, angular-app/bb-camp/ID027_blood_type_1@2x.png 2x">
		<div id="ID0_5_dg">
			<p ng-repeat="x in vm.dat | orderBy:'createdOn':'false'">{{x.BloodAvailability[3].quantity}}</p>
		</div>
	</div>
	<div id="Bpos">
		<img id="ID027_blood_type_1_di" src="angular-app/bb-camp/ID027_blood_type_1_di.png" srcset="angular-app/bb-camp/ID027_blood_type_1_di.png 1x, angular-app/bb-camp/ID027_blood_type_1_di@2x.png 2x">
		<div id="ID0_5_dj">
			<p ng-repeat="x in vm.dat | orderBy:'createdOn':'false'">{{x.BloodAvailability[2].quantity}}</p>
		</div>
	</div>
	<div id="ABneg">
		<img id="ID028_blood_type_2" src="angular-app/bb-camp/ID028_blood_type_2.png" srcset="angular-app/bb-camp/ID028_blood_type_2.png 1x, angular-app/bb-camp/ID028_blood_type_2@2x.png 2x">
		<div id="ID0_5_dm">
			<p ng-repeat="x in vm.dat | orderBy:'createdOn':'false'">{{x.BloodAvailability[7].quantity}}</p>
		</div>
	</div>
	<div id="ABpos">
		<img id="ID028_blood_type_2_do" src="angular-app/bb-camp/ID028_blood_type_2_do.png" srcset="angular-app/bb-camp/ID028_blood_type_2_do.png 1x, angular-app/bb-camp/ID028_blood_type_2_do@2x.png 2x">
		<div id="ID0_5_dp">
			<p ng-repeat="x in vm.dat | orderBy:'createdOn':'false'">{{x.BloodAvailability[6].quantity}}</p>
		</div>
	</div>
	<div id="Aneg">
		<img id="ID026_blood_type" src="angular-app/bb-camp/ID026_blood_type.png" srcset="angular-app/bb-camp/ID026_blood_type.png 1x, angular-app/bb-camp/ID026_blood_type@2x.png 2x">
		<div id="ID0_5_ds">
			<p ng-repeat="x in vm.dat | orderBy:'createdOn':'false'">{{x.BloodAvailability[1].quantity}}</p>
		</div>
	</div>
	<div id="Apos">
		<img id="ID026_blood_type_du" src="angular-app/bb-camp/ID026_blood_type_du.png" srcset="angular-app/bb-camp/ID026_blood_type_du.png 1x, angular-app/bb-camp/ID026_blood_type_du@2x.png 2x">
		<div id="ID0_5_dv">
			<p ng-repeat="x in vm.dat | orderBy:'createdOn':'false'">{{x.BloodAvailability[0].quantity}}</p>
		</div>
	</div>
	<button id="createnew" class="createnew" ng-click="vm.create()">
		<svg class="Rectangle_36">
			<rect fill="rgba(240,240,240,1)" id="Rectangle_36" rx="6" ry="6" x="0" y="0" width="94" height="30">
			</rect>
		</svg>
		<img id="edit" src="angular-app/bb-camp/edit.png" srcset="angular-app/bb-camp/edit.png 1x, angular-app/bb-camp/edit@2x.png 2x">
		<div id="CREATE">
			<span>CREATE</span>
		</div>
	</button>
	<img id="left_arrow" src="angular-app/bb-camp/left_arrow.png" srcset="angular-app/bb-camp/left_arrow.png 1x, langular-app/bb-camp/eft_arrow@2x.png 2x">
	<img id="right_arrow__2_" src="angular-app/bb-camp/right_arrow__2_.png" srcset="angular-app/bb-camp/right_arrow__2_.png 1x, angular-app/bb-camp/right_arrow__2_@2x.png 2x">
	<div id="madeby">
		<div id="with____by_FAM_ILY">
			<span>with ❤️ by </span><span style="font-style:normal;font-weight:bold;">FAM-ILY</span>
		</div>
		<img id="programming_grey" src="angular-app/bb-camp/programming_grey.png" srcset="angular-app/bb-camp/programming_grey.png 1x, angular-app/bb-camp/programming_grey@2x.png 2x">
	</div>
</div>
</body>
</html>
