.mediaViewInfo {
	--web-view-name: web-bb-camp-login;
	--web-view-id: web_bb_camp_login;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web_bb_camp_login;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web_bb_camp_login {
	position: absolute;
	width: 1920px;
	height: 975px;
	background-color: rgba(225,83,83,1);
	overflow: hidden;
	--web-view-name: web-bb-camp-login;
	--web-view-id: web_bb_camp_login;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.Rectangle_14 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 531px;
	height: 993px;
	left: 1407px;
	top: 0px;
}
#Group_1 {
	position: absolute;
	width: 1221.3px;
	height: 446.477px;
	left: 92px;
	top: 264px;
	overflow: visible;
}
.Rectangle_1 {
	filter: drop-shadow(0px 3px 6px rgba(225, 83, 83, 1));
	position: absolute;
	overflow: visible;
	width: 345px;
	height: 464px;
	left: 1499px;
	top: 264px;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 42px;
	left: 1526px;
	top: 423px;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 42px;
	left: 1526px;
	top: 511px;
}
#lock {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 1538px;
	top: 517px;
	overflow: visible;
}
#name {
	position: absolute;
	width: 62px;
	height: 62px;
	left: 1564px;
	top: 301px;
	overflow: visible;
}
#Camps {
	position: absolute;
	left: 1635.5px;
	top: 291.5px;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	color: rgba(53,49,49,1);
}
#login_btn {
	position: absolute;
	width: 70px;
	left: 1629px;
	top: 601px;
	overflow: visible;
	cursor: pointer;
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 70px;
	height: 70px;
	left: 0px;
	top: 0px;
}
#arrow_pointing_to_right {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 17px;
	top: 17px;
	overflow: visible;
}
.usr_input {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 32px;
	left: 1576px;
	top: 428px;
}
.pass_input {
	position: absolute;
	overflow: visible;
	width: 210px;
	height: 32px;
	left: 1576px;
	top: 516px;
}
#blood {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1539px;
	top: 429px;
	overflow: visible;
}
#Bloodbank {
	position: absolute;
	left: 1663.5px;
	top: 345.5px;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(53,49,49,1);
}
#madeby {
	position: absolute;
	width: 373px;
	height: 47px;
	left: 516px;
	top: 902px;
	overflow: visible;
}
#with____by_FAM_ILY {
	position: absolute;
	left: 57px;
	top: 0px;
	overflow: visible;
	width: 317px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(49,49,49,1);
}
#programming_grey {
	position: absolute;
	width: 45px;
	height: 45px;
	left: 0px;
	top: 2px;
	overflow: visible;
}