<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>web-camp-BA</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="angular-app/camp-BA/web_camp_BA.css"/>
<script id="applicationScript" type="text/javascript" src="angular-app/camp-BA/web_camp_BA.js"></script>
</head>
<body>
<div id="web_camp_BA">
	<div id="BG">
		<img id="O_" src="angular-app/camp-BA/O_.png" srcset="angular-app/camp-BA/O_.png 1x, angular-app/camp-BA/O_@2x.png 2x">
		<img id="A_" src="angular-app/camp-BA/A_.png" srcset="angular-app/camp-BA/A_.png 1x, angular-app/camp-BA/A_@2x.png 2x">
		<img id="A__" src="angular-app/camp-BA/A__.png" srcset="angular-app/camp-BA/A__.png 1x, angular-app/camp-BA/A__@2x.png 2x">
		<img id="B_" src="angular-app/camp-BA/B_.png" srcset="angular-app/camp-BA/B_.png 1x, angular-app/camp-BA/B_@2x.png 2x">
		<img id="B__" src="angular-app/camp-BA/B__.png" srcset="angular-app/camp-BA/B__.png 1x, angular-app/camp-BA/B__@2x.png 2x">
		<img id="O__" src="angular-app/camp-BA/O__.png" srcset="angular-app/camp-BA/O__.png 1x, angular-app/camp-BA/O__@2x.png 2x">
		<img id="drug" src="angular-app/camp-BA/drug.png" srcset="angular-app/camp-BA/drug.png 1x, angular-app/camp-BA/drug@2x.png 2x">
		<img id="drug_" src="angular-app/camp-BA/drug_.png" srcset="angular-app/camp-BA/drug_.png 1x, angular-app/camp-BA/drug_@2x.png 2x">
		<img id="drug_ba" src="angular-app/camp-BA/drug_ba.png" srcset="angular-app/camp-BA/drug_ba.png 1x, angular-app/camp-BA/drug_ba@2x.png 2x">
		<img id="drug_bb" src="angular-app/camp-BA/drug_bb.png" srcset="angular-app/camp-BA/drug_bb.png 1x, angular-app/camp-BA/drug_bb@2x.png 2x">
		<img id="drug_bc" src="angular-app/camp-BA/drug_bc.png" srcset="angular-app/camp-BA/drug_bc.png 1x, angular-app/camp-BA/drug_bc@2x.png 2x">
		<img id="drug_bd" src="angular-app/camp-BA/drug_bd.png" srcset="angular-app/camp-BA/drug_bd.png 1x, angular-app/camp-BA/drug_bd@2x.png 2x">
		<img id="drug_be" src="angular-app/camp-BA/drug_be.png" srcset="angular-app/camp-BA/drug_be.png 1x, angular-app/camp-BA/drug_be@2x.png 2x">
		<img id="drug_bf" src="angular-app/camp-BA/drug_bf.png" srcset="angular-app/camp-BA/drug_bf.png 1x, angular-app/camp-BA/drug_bf@2x.png 2x">
		<div id="Aneg_lvl" class="Aneg_lvl">
			<div id="ID7">
				<span>{{vm.aneg}}</span>
			</div>
			<svg class="Rectangle_29">
				<rect fill="transparent" id="Rectangle_29" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml">
				<span>{{vm.aneg * 350}} ml</span>
			</div>
		</div>
		<div id="ABneg_lvl" class="ABneg_lvl">
			<div id="ID7_bl">
				<span>{{vm.abneg}}</span>
			</div>
			<svg class="Rectangle_29_bm">
				<rect fill="transparent" id="Rectangle_29_bm" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_bn">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_bo">
				<span>{{vm.abneg * 350}} ml</span>
			</div>
		</div>
		<div id="Oneg_lvl" class="Oneg_lvl">
			<div id="ID7_bq">
				<span>{{vm.oneg}}</span>
			</div>
			<svg class="Rectangle_29_br">
				<rect fill="transparent" id="Rectangle_29_br" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_bs">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_bt">
				<span>{{vm.oneg * 350}} ml</span>
			</div>
		</div>
		<div id="Bneg_lvl" class="Bneg_lvl">
			<div id="ID7_bv">
				<span>{{vm.bneg}}</span>
			</div>
			<svg class="Rectangle_29_bw">
				<rect fill="transparent" id="Rectangle_29_bw" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_bx">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_by">
				<span>{{vm.bneg * 350}} ml</span>
			</div>
		</div>
		<div id="Apos_lvl" class="Apos_lvl">
			<div id="ID7_b">
				<span>{{vm.apos}}</span>
			</div>
			<svg class="Rectangle_29_b">
				<rect fill="transparent" id="Rectangle_29_b" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_b">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_b">
				<span>{{vm.apos * 350}} ml</span>
			</div>
		</div>
		<div id="ABpos_lvl" class="ABpos_lvl">
			<div id="ID7_ca">
				<span>{{vm.abpos}}</span>
			</div>
			<svg class="Rectangle_29_ca">
				<rect fill="transparent" id="Rectangle_29_ca" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_ca">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_ca">
				<span>{{vm.apos * 350}} ml</span>
			</div>
		</div>
		<div id="Opos_lvl" class="Opos_lvl">
			<div id="ID7_cb">
				<span>{{vm.opos}}</span>
			</div>
			<svg class="Rectangle_29_cb">
				<rect fill="transparent" id="Rectangle_29_cb" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_cc">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_cd">
				<span>{{vm.opos*350}} ml</span>
			</div>
		</div>
		<div id="Bpos_lvl" class="Bpos_lvl">
			<div id="ID7_cf">
				<span>{{vm.bpos}}</span>
			</div>
			<svg class="Rectangle_29_cg">
				<rect fill="transparent" id="Rectangle_29_cg" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_ch">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_ci">
				<span>{{vm.bpos*350}} ml</span>
			</div>
		</div>
		<img id="AB_" src="angular-app/camp-BA/AB_.png" srcset="angular-app/camp-BA/AB_.png 1x, angular-app/camp-BA/AB_@2x.png 2x">
		<img id="AB__ck" src="angular-app/camp-BA/AB__ck.png" srcset="angular-app/camp-BA/AB__ck.png 1x, angular-app/camp-BA/AB__ck@2x.png 2x">
	</div>
	<svg class="Rectangle_15">
		<rect fill="rgba(225,83,83,1)" id="Rectangle_15" rx="0" ry="0" x="0" y="0" width="330" height="75">
		</rect>
	</svg>
	<img id="Group_1" src="angular-app/camp-BA/Group_1.png" srcset="angular-app/camp-BA/Group_1.png 1x, angular-app/camp-BA/Group_1@2x.png 2x">
	<div id="BA_btn" class="BA_btn">
		<svg class="Rectangle_16">
			<rect fill="rgba(245,245,245,1)" id="Rectangle_16" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Blood_Availability">
			<span>Blood Availability</span>
		</div>
		<img id="ID018_flask" src="angular-app/camp-BA/ID018_flask.png" srcset="angular-app/camp-BA/ID018_flask.png 1x, angular-app/camp-BA/ID018_flask@2x.png 2x">
	</div>
	<button id="donation_btn" class="donation_btn" ng-click="vm.donation()">
		<svg class="Rectangle_17">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_17" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Donations">
			<span>Donations</span>
		</div>
		<img id="ID008_donor_1" src="angular-app/camp-BA/ID008_donor_1.png" srcset="angular-app/camp-BA/ID008_donor_1.png 1x, angular-app/camp-BA/ID008_donor_1@2x.png 2x">
	</button>
	<svg class="Rectangle_18">
		<rect fill="rgba(225,83,83,1)" id="Rectangle_18" rx="0" ry="0" x="0" y="0" width="930" height="75">
		</rect>
	</svg>
	<div id="camp_name" class="camp_name">
		<div id="AKR_Hospitals">
			<span>{{vm.bank_name}}</span>
		</div>
		<div id="ERD_Camps">
			<span>{{vm.camp_name}}</span>
		</div>
		<img id="blood" src="angular-app/camp-BA/blood.png" srcset="angular-app/camp-BA/blood.png 1x, angular-app/camp-BA/blood@2x.png 2x">
		<svg class="Line_7" viewBox="0 0 1 40">
			<path fill="transparent" stroke="rgba(245,245,245,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Line_7" d="M 0 0 L 0 40">
			</path>
		</svg>
	</div>
	<button id="home_btn" class="home_btn" ng-click="vm.goHome()">
		<img id="home" src="angular-app/camp-BA/home.png" srcset="angular-app/camp-BA/home.png 1x, angular-app/camp-BA/home@2x.png 2x">
	</button>
	<button id="refresh_btn" class="refresh_btn" ng-click="vm.refres()">
		<img id="update_arrows" src="angular-app/camp-BA/update_arrows.png" srcset="angular-app/camp-BA/update_arrows.png 1x, angular-app/camp-BA/update_arrows@2x.png 2x">
	</button>
	<div id="madeby">
		<div id="with____by_FAM_ILY">
			<span>with ❤️ by </span><span style="font-style:normal;font-weight:bold;">FAM-ILY</span>
		</div>
		<img id="programming_grey" src="angular-app/camp-BA/programming_grey.png" srcset="angular-app/camp-BA/programming_grey.png 1x, angular-app/camp-BA/programming_grey@2x.png 2x">
	</div>
</div>
</body>
</html>