<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>web-bb-BA</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="angular-app/bb-BA/web_bb_BA.css"/>
<script id="applicationScript" type="text/javascript" src="angular-app/bb-BA/web_bb_BA.js"></script>
</head>
<body>
<div id="web_bb_BA">
	<svg class="Rectangle_15">
		<rect fill="rgba(225,83,83,1)" id="Rectangle_15" rx="0" ry="0" x="0" y="0" width="220" height="75">
		</rect>
	</svg>
	<img id="Group_1" src="angular-app/bb-BA/Group_1.png" srcset="angular-app/bb-BA/Group_1.png 1x, angular-app/bb-BA/Group_1@2x.png 2x">
	<div id="bloodbank_name" class="bloodbank_name">
		<svg class="Rectangle_23">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_23" rx="0" ry="0" x="0" y="0" width="380" height="75">
			</rect>
		</svg>
		<div id="Hospitals">
			<span>{{vm.bank_name}}</span>
		</div>
		<img id="ID019_hospital" src="angular-app/bb-BA/ID019_hospital.png" srcset="angular-app/bb-BA/ID019_hospital.png 1x, angular-app/bb-BA/ID019_hospital@2x.png 2x">
	</div>
	<button id="home_btn" class="home_btn" ng-click="vm.goHome()">
		<img id="home" src="home.png" srcset="angular-app/bb-BA/home.png 1x, angular-app/bb-BA/home@2x.png 2x">
	</button>
	<button id="refresh_btn" class="refresh_btn" ng-click="vm.refres()">
		<img id="update_arrows" src="angular-app/bb-BA/update_arrows.png" srcset="angular-app/bb-BA/update_arrows.png 1x, angular-app/bb-BA/update_arrows@2x.png 2x">
	</button>
	<div id="BA_btn" class="BA_btn">
		<svg class="Rectangle_16">
			<rect fill="rgba(245,245,245,1)" id="Rectangle_16" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Blood_Availability">
			<span>Blood Availability</span>
		</div>
		<img id="ID018_flask" src="angular-app/bb-BA/ID018_flask.png" srcset="angular-app/bb-BA/ID018_flask.png 1x, angular-app/bb-BA/ID018_flask@2x.png 2x">
	</div>
	<button id="donation_btn" class="donation_btn" ng-click="vm.donation()">
		<svg class="Rectangle_17">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_17" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Donations">
			<span>Donations</span>
		</div>
		<img id="ID008_donor_1" src="angular-app/bb-BA/ID008_donor_1.png" srcset="angular-app/bb-BA/ID008_donor_1.png 1x, angular-app/bb-BA/ID008_donor_1@2x.png 2x">
	</button>
	<button id="camp_btn" class="camp_btn" ng-click="vm.camp()">
		<svg class="Rectangle_18">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_18" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Camps">
			<span>Camps</span>
		</div>
		<img id="blood" src="angular-app/bb-BA/blood.png" srcset="angular-app/bb-BA/blood.png 1x, angular-app/bb-BA/blood@2x.png 2x">
	</button>
	<div id="req_button" class="req_button">
		<svg class="Rectangle_16_bn">
			<rect fill="rgba(225,83,83,1)" id="Rectangle_16_bn" rx="0" ry="0" x="0" y="0" width="330" height="75">
			</rect>
		</svg>
		<div id="Requests">
			<span>Requests</span>
		</div>
		<img id="important" src="angular-app/bb-BA/important.png" srcset="angular-app/bb-BA/important.png 1x, angular-app/bb-BA/important@2x.png 2x">
	</div>
	<div id="BG">
		<img id="O_" src="angular-app/bb-BA/O_.png" srcset="angular-app/bb-BA/O_.png 1x, angular-app/bb-BA/O_@2x.png 2x">
		<img id="A_" src="angular-app/bb-BA/A_.png" srcset="angular-app/bb-BA/A_.png 1x, angular-app/bb-BA/A_@2x.png 2x">
		<img id="A__bt" src="angular-app/bb-BA/A__bt.png" srcset="angular-app/bb-BA/A__bt.png 1x, angular-app/bb-BA/A__bt@2x.png 2x">
		<img id="B_" src="angular-app/bb-BA/B_.png" srcset="angular-app/bb-BA/B_.png 1x, angular-app/bb-BA/B_@2x.png 2x">
		<img id="B__bv" src="angular-app/bb-BA/B__bv.png" srcset="angular-app/bb-BA/B__bv.png 1x, angular-app/bb-BA/B__bv@2x.png 2x">
		<img id="O__bw" src="angular-app/bb-BA/O__bw.png" srcset="angular-app/bb-BA/O__bw.png 1x, angular-app/bb-BA/O__bw@2x.png 2x">
		<img id="drug" src="angular-app/bb-BA/drug.png" srcset="angular-app/bb-BA/drug.png 1x, angular-app/bb-BA/drug@2x.png 2x">
		<img id="drug_by" src="angular-app/bb-BA/drug_by.png" srcset="angular-app/bb-BA/drug_by.png 1x, angular-app/bb-BA/drug_by@2x.png 2x">
		<img id="drug_bz" src="angular-app/bb-BA/drug_bz.png" srcset="angular-app/bb-BA/drug_bz.png 1x, angular-app/bb-BA/drug_bz@2x.png 2x">
		<img id="drug_b" src="angular-app/bb-BA/drug_b.png" srcset="angular-app/bb-BA/drug_b.png 1x, angular-app/bb-BA/drug_b@2x.png 2x">
		<img id="drug_ca" src="angular-app/bb-BA/drug_ca.png" srcset="angular-app/bb-BA/drug_ca.png 1x, angular-app/bb-BA/drug_ca@2x.png 2x">
		<img id="drug_cb" src="angular-app/bb-BA/drug_cb.png" srcset="angular-app/bb-BA/drug_cb.png 1x, angular-app/bb-BA/drug_cb@2x.png 2x">
		<img id="drug_cc" src="angular-app/bb-BA/drug_cc.png" srcset="angular-app/bb-BA/drug_cc.png 1x, angular-app/bb-BA/drug_cc@2x.png 2x">
		<img id="drug_cd" src="angular-app/bb-BA/drug_cd.png" srcset="angular-app/bb-BA/drug_cd.png 1x, angular-app/bb-BA/angular-app/bb-BA/drug_cd@2x.png 2x">
		<div id="Aneg_lvl" class="Aneg_lvl">
			<div id="ID7">
				<span>{{vm.aneg}}</span>
			</div>
			<svg class="Rectangle_29">
				<rect fill="transparent" id="Rectangle_29" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml">
				<span>{{vm.aneg*350}} ml</span>
			</div>
		</div>
		<div id="ABneg_lvl" class="ABneg_lvl">
			<div id="ID7_cb">
				<span>{{vm.abneg}}</span>
			</div>
			<svg class="Rectangle_29_cc">
				<rect fill="transparent" id="Rectangle_29_cc" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_cd">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_ce">
				<span>{{vm.abneg*350}} ml</span>
			</div>
		</div>
		<div id="Oneg_lvl" class="Oneg_lvl">
			<div id="ID7_cg">
				<span>{{vm.oneg}}</span>
			</div>
			<svg class="Rectangle_29_ch">
				<rect fill="transparent" id="Rectangle_29_ch" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_ci">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_cj">
				<span>{{m.oneg * 350}} ml</span>
			</div>
		</div>
		<div id="Bneg_lvl" class="Bneg_lvl">
			<div id="ID7_cl">
				<span>{{vm.bneg}}</span>
			</div>
			<svg class="Rectangle_29_cm">
				<rect fill="transparent" id="Rectangle_29_cm" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_cn">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_co">
				<span>{{vm.bneg*350}} ml</span>
			</div>
		</div>
		<div id="Apos_lvl" class="Apos_lvl">
			<div id="ID7_cq">
				<span>{{vm.apos}}</span>
			</div>
			<svg class="Rectangle_29_cr">
				<rect fill="transparent" id="Rectangle_29_cr" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_cs">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_ct">
				<span>{{vm.apos*350}} ml</span>
			</div>
		</div>
		<div id="ABpos_lvl" class="ABpos_lvl">
			<div id="ID7_cv">
				<span>{{vm.abpos}}</span>
			</div>
			<svg class="Rectangle_29_cw">
				<rect fill="transparent" id="Rectangle_29_cw" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_cx">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_cy">
				<span>{{vm.abpos * 350}} ml</span>
			</div>
		</div>
		<div id="Opos_lvl" class="Opos_lvl">
			<div id="ID7_c">
				<span>{{vm.opos}}</span>
			</div>
			<svg class="Rectangle_29_c">
				<rect fill="transparent" id="Rectangle_29_c" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_c">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_c">
				<span>{{vm.opos * 350}} ml</span>
			</div>
		</div>
		<div id="Bpos_lvl" class="Bpos_lvl">
			<div id="ID7_da">
				<span>{{vm.bpos}}</span>
			</div>
			<svg class="Rectangle_29_da">
				<rect fill="transparent" id="Rectangle_29_da" rx="0" ry="0" x="0" y="0" width="92" height="105.4">
				</rect>
			</svg>
			<div id="UNITS_da">
				<span>UNITS</span>
			</div>
			<div id="ID2450_ml_da">
				<span>{{vm.bpos*350}} ml</span>
			</div>
		</div>
		<img id="AB_" src="angular-app/bb-BA/AB_.png" srcset="angular-app/bb-BA/AB_.png 1x, angular-app/bb-BA/AB_@2x.png 2x">
		<img id="AB__da" src="angular-app/bb-BA/AB__da.png" srcset="angular-app/bb-BA/AB__da.png 1x, angular-app/bb-BA/AB__da@2x.png 2x">
	</div>
	<div id="madeby">
		<div id="with____by_FAM_ILY">
			<span>with ❤️ by </span><span style="font-style:normal;font-weight:bold;">FAM-ILY</span>
		</div>
		<img id="programming_grey" src="angular-app/bb-BA/programming_grey.png" srcset="angular-app/bb-BA/programming_grey.png 1x, angular-app/bb-BA/programming_grey@2x.png 2x">
	</div>
</div>
</body>
</html>
