.mediaViewInfo {
	--web-view-name: web-waiting;
	--web-view-id: web_waiting;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: web_waiting;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#web_waiting {
	position: absolute;
	width: 1920px;
	height: 975px;
	background-color: rgba(245,245,245,1);
	overflow: hidden;
	--web-view-name: web-waiting;
	--web-view-id: web_waiting;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
.waiting_rect {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 975px;
	left: 0px;
	top: 0px;
}
#waiting_LOGO {
	position: absolute;
	width: 1113px;
	height: 274.851px;
	left: 404px;
	top: 350px;
	overflow: visible;
}

.glitch {
	font-size: 130px;
	line-height: 1;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	text-decoration: none;
	color: #fff;
}
.glitch:before, .glitch:after {
	display: block;
	content: '17';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.8;
}
.glitch:after {
	color: #f0f;
	z-index: -2;
}
.glitch:before {
	color: #0ff;
	z-index: -1;
}
.glitch:hover:before {
	animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
.glitch:hover:after {
	animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}
@keyframes glitch {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	20% {
		-webkit-transform: translate(-5px, 5px);
		transform: translate(-5px, 5px);
	}
	40% {
		-webkit-transform: translate(-5px, -5px);
		transform: translate(-5px, -5px);
	}
	60% {
		-webkit-transform: translate(5px, 5px);
		transform: translate(5px, 5px);
	}
	80% {
		-webkit-transform: translate(5px, -5px);
		transform: translate(5px, -5px);
	}
	to {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
