#load_content {
    position: absolute;
    width: 1920px;
    height: 975px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#dim_background {
    opacity: 0.26;
}
.dim_background {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 975px;
    left: 0px;
    top: 0px;
}
#loading_info {
    position: absolute;
    width: 327px;
    height: 197px;
    left: 797px;
    top: 389px;
    overflow: visible;
}
.loading_background {
    position: absolute;
    overflow: visible;
    width: 327px;
    height: 197px;
    left: 0px;
    top: 0px;
}
#LOGO_dn {
    position: absolute;
    width: 242.791px;
    height: 60px;
    left: 42px;
    top: 23px;
    overflow: visible;
}
#Loading {
    position: absolute;
    left: 87.5px;
    top: 137px;
    overflow: visible;
    width: 152px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(49,49,49,1);
}
.progress {
    position: absolute;
    height: 20px;
    display: inline-block;
    width: 100%;
    top : 106px;
    background-color: #b5b5b5;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden; }
.progress .indeterminate {
    background-color: #313131; }
.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.5s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.5s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s; }

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%; }
    60% {
        left: 100%;
        right: -90%; }
    100% {
        left: 100%;
        right: -90%; } }
@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%; }
    60% {
        left: 100%;
        right: -90%; }
    100% {
        left: 100%;
        right: -90%; } }
@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%; }
    60% {
        left: 107%;
        right: -8%; }
    100% {
        left: 107%;
        right: -8%; } }
@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%; }
    60% {
        left: 107%;
        right: -8%; }
    100% {
        left: 107%;
        right: -8%; } }
